automations/n8n/workflows/audit-funnel__customer-journey-audit__refactor.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -400
      ],
      "id": "fcba7c74-bb4c-474b-8d6d-64dac8287b64",
      "name": "Webhook",
      "webhookId": "cdb8b9f9-a8f2-4ebf-bca1-e1c05f9e9ffe"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json || {};\nconst body = req.body || {};\nconst ui = body.__submission?.user_inputs || body;\n\n// --- INPUTS ---\nlet url = (ui.url || body.url || '').toString().trim();\nlet email = (ui.email || body.email || '').toString().trim();\nconst ip = (body.__submission?.ip || req.ip || req.headers?.['x-forwarded-for'] || '').toString();\nconst ua = (body.__submission?.browser || req.headers?.['user-agent'] || '').toString();\n\n// --- BASIC VALIDATION ---\nconst errors = [];\nif (!email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) errors.push('Bitte eine gültige E-Mail-Adresse angeben.');\nif (!url) errors.push('Bitte eine Website-URL angeben.');\n\n// Normalize URL\nif (url && !/^https?:\\/\\//i.test(url)) url = 'https://' + url;\ntry {\n  const u = new URL(url);\n  if (!/^https?:$/.test(u.protocol)) errors.push('Nur http/https URLs sind erlaubt.');\n  u.hash = '';\n  // Remove trailing slashes\n  url = u.toString().replace(/\\/+$/, '');\n} catch (e) {\n  errors.push('URL ist ungültig. Beispiel: https://example.de');\n}\n\n// --- SSRF / ABUSE GUARDS (best-effort) ---\nif (errors.length === 0) {\n  const host = new URL(url).hostname.toLowerCase();\n  const hostNoWww = host.replace(/^www\\./, '');\n\n  const denyHosts = [\n    'localhost','127.0.0.1','0.0.0.0','::1','169.254.169.254'\n  ];\n  const isIp = /^[0-9.]+$/.test(hostNoWww) || hostNoWww.includes(':');\n  const isPrivateIPv4 = (h) => {\n    // 10.0.0.0/8, 172.16/12, 192.168/16, 127/8, 169.254/16\n    const m = h.match(/^(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})$/);\n    if (!m) return false;\n    const a = m.slice(1).map(x => parseInt(x, 10));\n    if (a.some(x => Number.isNaN(x) || x < 0 || x > 255)) return true;\n    if (a[0] === 10) return true;\n    if (a[0] === 127) return true;\n    if (a[0] === 169 && a[1] === 254) return true;\n    if (a[0] === 192 && a[1] === 168) return true;\n    if (a[0] === 172 && a[1] >= 16 && a[1] <= 31) return true;\n    return false;\n  };\n\n  if (denyHosts.includes(hostNoWww)) errors.push('Diese URL ist nicht erlaubt.');\n  if (isIp && isPrivateIPv4(hostNoWww)) errors.push('Private/Interne IPs sind nicht erlaubt.');\n  if (/\\.local$|\\.internal$|\\.lan$|\\.home$/.test(hostNoWww)) errors.push('Interne Domains sind nicht erlaubt.');\n\n  // Simple rate limit (per IP, per hour) via workflow static data\n  try {\n    const sd = this.getWorkflowStaticData('global');\n    const now = Date.now();\n    const hour = Math.floor(now / (60*60*1000));\n    const key = `rl:${ip || 'unknown'}:${hour}`;\n    sd[key] = (sd[key] || 0) + 1;\n    if (sd[key] > 30) errors.push('Zu viele Anfragen. Bitte in 60 Minuten erneut versuchen.');\n  } catch (e) {}\n}\n\n// --- JOB ID (no crypto module required) ---\nconst jobId = 'job_' + Date.now().toString(36) + '_' + Math.random().toString(36).slice(2, 10);\nconst domain = (errors.length === 0)\n  ? new URL(url).hostname.replace(/^www\\./,'')\n  : null;\n\nreturn [{\n  json: {\n    ok: errors.length === 0,\n    error: errors.length ? errors.join(' ') : null,\n    url,\n    email,\n    domain,\n    jobId,\n    ip,\n    ua,\n    ts: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -400
      ],
      "id": "df87a1c4-f39e-47af-8f09-47e282ff2c5c",
      "name": "URL Validator"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; AuditBot/1.0)"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -400
      ],
      "id": "8f5f5c07-772d-4501-9665-767d68801f06",
      "name": "Jina Reader",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('URL Validator').first().json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; AuditBot/1.0)"
            },
            {
              "name": "Accept",
              "value": "text/html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -336
      ],
      "id": "e28a40f8-5414-4ec7-84d5-29d85b249a22",
      "name": "Raw HTML Fetch",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed?category=performance&category=seo&category=best-practices&category=accessibility",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('URL Validator').first().json.url }}"
            },
            {
              "name": "strategy",
              "value": "mobile"
            },
            {
              "name": "category",
              "value": "performance"
            },
            {
              "name": "category",
              "value": "seo"
            },
            {
              "name": "category",
              "value": "best-practices"
            },
            {
              "name": "category",
              "value": "accessibility"
            },
            {
              "name": "locale",
              "value": "de_DE"
            },
            {
              "name": "key",
              "value": "={{ $vars.GOOGLE_PAGESPEED_API_KEY || $env.GOOGLE_PAGESPEED_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -400
      ],
      "id": "17506824-228a-468d-b13f-b77bc476fd1d",
      "name": "PageSpeed API",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('URL Validator').first().json.url }}/sitemap_index.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        -400
      ],
      "id": "8605b5ad-5cac-4b29-af97-41a9fd71a9b0",
      "name": "Sitemap Fetch",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('URL Validator').first().json;\n\n// ═══ PAGESPEED DIAGNOSE ═══\nlet mobileScore = 0;\nlet scores = { performance: 0, seo: 0, bestPractices: 0, accessibility: 0, pwa: 0 };\nlet metrics = { LCP: 'n/a', LCP_ms: 0, CLS: 'n/a', CLS_val: 0, TBT: 'n/a', TBT_ms: 0, FCP: 'n/a', TTFB: 'n/a' };\nlet debugMsg = \"OK\";\n\ntry {\n  // Wichtig: Wir holen die Daten von FINAL (Retry-Logik)\n  const gd = $('PageSpeed Final').first().json;\n  \n  if (gd && gd.lighthouseResult) {\n    const lh = gd.lighthouseResult, au = lh.audits || {};\n    mobileScore = Math.round((lh.categories?.performance?.score || 0) * 100);\n    const cats = lh.categories || {};\n    const to100 = (v) => (typeof v === 'number' ? Math.round(v * 100) : 0);\n    scores = {\n      performance: to100(cats?.performance?.score),\n      seo: to100(cats?.seo?.score),\n      bestPractices: to100(cats?.['best-practices']?.score),\n      accessibility: to100(cats?.accessibility?.score),\n      pwa: to100(cats?.pwa?.score),\n    };\n    metrics = {\n      LCP: au['largest-contentful-paint']?.displayValue ?? 'n/a',\n      LCP_ms: au['largest-contentful-paint']?.numericValue || 0,\n      CLS: au['cumulative-layout-shift']?.displayValue ?? 'n/a',\n      CLS_val: au['cumulative-layout-shift']?.numericValue || 0,\n      TBT: au['total-blocking-time']?.displayValue ?? 'n/a',\n      TBT_ms: au['total-blocking-time']?.numericValue || 0,\n      FCP: au['first-contentful-paint']?.displayValue ?? 'n/a',\n      TTFB: au['server-response-time']?.displayValue ?? 'n/a'\n    };\n  } else {\n    if (gd.error) debugMsg = `Google Fehler: ${gd.error.message} (Code: ${gd.error.code})`;\n    else debugMsg = \"Google hat leeres Ergebnis geliefert.\";\n  }\n} catch(e) {\n  debugMsg = \"Script Fehler: \" + e.message;\n}\n\n// ═══ HTML ═══\nlet html = '', head = '';\ntry {\n  const rn = $('Raw HTML Fetch').first().json;\n  const raw = rn?.data || rn?.body || (typeof rn === 'string' ? rn : '') || '';\n  html = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  const hm = html.match(/<head[^>]*>([\\s\\S]*?)<\\/head>/i);\n  head = hm ? hm[1] : html.substring(0, 8000);\n} catch(e) {}\n\nconst titleM = head.match(/<title[^>]*>([^<]{0,200})<\\/title>/i);\nconst title = titleM ? titleM[1].trim() : null;\nconst descM = head.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']{0,300})[\"']/i) || head.match(/<meta[^>]*content=[\"']([^\"']{0,300})[\"'][^>]*name=[\"']description[\"']/i);\nconst metaDesc = descM ? descM[1].trim() : null;\nconst canonical = (head.match(/<link[^>]*rel=[\"']canonical[\"'][^>]*href=[\"']([^\"']+)[\"']/i) || [])[1] || null;\nconst hasOg = (/<meta[^>]*property=[\"']og:(title|description|image)[\"']/gi.test(html));\nconst schemaBlocks = [...html.matchAll(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi)];\nconst schemaTypes = []; schemaBlocks.forEach(b => { try { const p = JSON.parse(b[1]); if (p['@type']) schemaTypes.push(p['@type']); if (Array.isArray(p['@graph'])) p['@graph'].forEach(i => { if (i['@type']) schemaTypes.push(i['@type']); }); } catch(e) {} });\nconst h1Count = (html.match(/<h1[^>]*>[\\s\\S]*?<\\/h1>/gi) || []).length;\n\n// Tracking\nconst hasGa4 = !!html.match(/G-[A-Z0-9]{6,12}/) || /gtag\\s*\\(/i.test(html);\nconst gtmM = html.match(/GTM-[A-Z0-9]{4,10}/);\nconst hasGtm = !!gtmM;\nconst gtmId = gtmM ? gtmM[0] : null;\nconst sgtmH = html.match(/https?:\\/\\/[a-z0-9.-]+\\.[a-z]+\\/gtm\\.js/i);\nconst hasSgtm = sgtmH ? !sgtmH[0].includes('googletagmanager.com') : false;\nconst consentTools = [];\nif (/borlabs/i.test(html)) consentTools.push('Borlabs');\nif (/cookiebot/i.test(html)) consentTools.push('Cookiebot');\nif (/complianz/i.test(html)) consentTools.push('Complianz');\nif (/usercentrics/i.test(html)) consentTools.push('Usercentrics');\nif (/real-cookie-banner/i.test(html)) consentTools.push('Real Cookie Banner');\nconst hasConsent = consentTools.length > 0;\nconst paidPixels = [];\nif (/fbq\\(|connect\\.facebook\\.net/i.test(html)) paidPixels.push('Meta');\nif (/AW-[0-9]+|googleads/i.test(html)) paidPixels.push('Google Ads');\nif (/linkedin\\.com\\/insight/i.test(html)) paidPixels.push('LinkedIn');\n\n// Security\nconst isWP = /wp-content|wp-includes|wp-json/i.test(html);\nconst wpVer = (html.match(/<meta[^>]*name=[\"']generator[\"'][^>]*content=[\"']WordPress\\s*([\\d.]+)[\"']/i) || [])[1] || null;\nconst isHttps = meta.url.startsWith('https');\n\n// Sitemap\nlet sitemapUrls = 0, blogUrls = 0, hasSitemap = false;\ntry {\n  const smR = $('Sitemap Fetch').first().json?.data || $('Sitemap Fetch').first().json?.body || '';\n  const sm = typeof smR === 'string' ? smR : '';\n  if (/<sitemapindex/i.test(sm)) {\n    const subs = [...sm.matchAll(/<loc>([^<]+)<\\/loc>/g)].map(m => m[1]);\n    hasSitemap = subs.length > 0; sitemapUrls = subs.length * 10;\n    blogUrls = subs.filter(u => /post/i.test(u)).length > 0 ? 5 : 0;\n  } else {\n    const urls = [...sm.matchAll(/<loc>([^<]+)<\\/loc>/g)].map(m => m[1]);\n    hasSitemap = urls.length > 0; sitemapUrls = urls.length;\n    blogUrls = urls.filter(u => /blog|artikel|beitrag|post|ratgeber/i.test(u)).length;\n  }\n} catch(e) {}\nif (!hasSitemap) {\n  if (/<link[^>]*rel=[\"']sitemap[\"']/i.test(html) || /sitemap_index\\.xml|sitemap\\.xml|wp-sitemap/i.test(html)) { hasSitemap = true; sitemapUrls = 10; }\n  else if (isWP) { hasSitemap = true; sitemapUrls = 5; }\n}\n\n// Jina Text\nlet jinaText = '';\ntry { const jn = $('Jina Reader').first().json; jinaText = (jn?.data || jn?.body || ''); } catch(e) {}\nconst jLow = jinaText.toLowerCase();\nconst wordCount = jinaText.split(/\\s+/).length;\nconst hasImpressum = /impressum/i.test(jinaText);\nconst hasDatenschutz = /datenschutz|privacy/i.test(jinaText);\n\n// Content signals\nconst hasBlog = blogUrls > 0 || /blog/i.test(jinaText) || /blog|artikel|magazin|ratgeber/i.test(html);\nconst hasCases = /case.?stud|referenz|fallstud|projekt|erfolgsgeschichte|portfolio|kundenprojekt/i.test(jLow) || /case|referenz|portfolio/i.test(html);\nconst hasTestimonials = /testimonial|kundenstimm|bewertung|rezension|\\d+\\s*sterne|google.*review|trustpilot|ausgezeichnet|empfehl|zufried|feedback/i.test(jLow);\nconst hasLeadMagnet = /lead.?magnet|download|whitepaper|e-?book|checkliste|gratis|kostenlos.*(guide|download|pdf|audit|analyse|check)|freebie|newsletter|kostenloses?.*(gespr|berat|analys|check|call)|jetzt.*anfrag|jetzt.*starten/i.test(jLow);\nconst hasContactForm = /kontakt|contact|formular|anfrage|nachricht.*senden/i.test(jLow);\nconst hasPhone = /\\+?\\d{2,4}[\\s.-]?\\d{3,}[\\s.-]?\\d{3,}/g.test(jinaText);\n\nreturn [{ json: {\n  url: meta.url, email: meta.email, domain: meta.domain,\n  speed: { mobileScore, metrics, scores },\n  debug_error: debugMsg,\n  seo: { title, metaDesc, canonical, hasOg, schemaTypes, h1Count, hasSitemap, sitemapUrls },\n  tracking: { hasGa4, hasGtm, gtmId, hasSgtm, hasConsent, consentTools, paidPixels },\n  security: { isWP, wpVer, isHttps, hasImpressum, hasDatenschutz },\n  content: { hasBlog, blogUrls, hasCases, hasTestimonials, hasLeadMagnet, hasContactForm, hasPhone, wordCount },\n  jinaText: jinaText.substring(0, 3000)\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -400
      ],
      "id": "3314c901-cf84-4357-9bd4-994c92d685ab",
      "name": "Analyze Site"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein SEO-Experte der Keywords mit kommerziellem Intent identifiziert.\n\nAnalysiere die Website und generiere 6 Suchbegriffe die ein ZAHLENDER Kunde bei Google eingeben wuerde — nicht jemand der sich informieren will, sondern jemand der KAUFEN oder BEAUFTRAGEN will.\n\nRegeln:\n1. Erkenne: Branche, Kerndienstleistungen, Stadt/Region\n2. NUR deutsche Keywords\n3. Mix: 2x [Dienstleistung + Stadt] (z.B. \"webdesign agentur hannover\"), 2x [Dienstleistung + Kaufintent] (z.B. \"website erstellen lassen kosten\"), 2x [Problem mit Loesungsintent] (z.B. \"wordpress seite zu langsam was tun\")\n4. Suchvolumen: Schaetze KONSERVATIV und realistisch. Lokale Keywords (mit Stadt): 100-600. Allgemeine: 300-2000. Nischen-Longtail: 50-300. NICHT uebertreiben.\n5. Kundenwert: Schaetze den durchschnittlichen Auftragswert fuer EINEN Neukunden in dieser Branche. Webdesign: 3000-8000. Beratung: 1500-5000. E-Commerce: 5000-15000.\n\nAntworte NUR mit JSON — kein anderer Text, keine Backticks:\n{\"branche\": \"...\", \"standort\": \"...\", \"kundenwert_eur\": 3000, \"keywords\": [{\"q\": \"webdesign agentur hannover\", \"vol\": 400}, ...]}"
            },
            {
              "content": "=Website: {{ $json.domain }}\nDienstleistungen und Inhalte:\n{{ $json.jinaText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2256,
        -400
      ],
      "id": "5b05e05a-42ed-4099-ad38-2d11dcf9855c",
      "name": "Keyword Generator",
      "credentials": {
        "openAiApi": {
          "id": "__SET_IN_N8N__",
          "name": "OPENAI_AUDIT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read GPT output\nconst j = $('Keyword Generator').first().json;\nlet raw = '';\nif (j?.output?.[0]?.content?.[0]?.text) raw = j.output[0].content[0].text;\nelse if (j?.content?.[0]?.text) raw = j.content[0].text;\nelse if (typeof j?.message?.content === 'string') raw = j.message.content;\nelse if (typeof j?.text === 'string') raw = j.text;\nelse raw = JSON.stringify(j);\n\n// Clean and parse JSON\nraw = raw.replace(/```json|```/g, '').trim();\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch(e) {\n  // Fallback: extract JSON from text\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) parsed = JSON.parse(m[0]);\n  else parsed = { branche: 'Unbekannt', standort: '', kundenwert_eur: 3000, keywords: [{ q: 'dienstleistung', vol: 300 }] };\n}\n\nconst site = $('Analyze Site').first().json;\nconst kws = parsed.keywords || [];\n\n// Output one item per keyword for SERP check\nconst items = kws.slice(0, 6).map(kw => ({\n  json: {\n    keyword: kw.q,\n    volume: kw.vol || 300,\n    domain: site.domain,\n    branche: parsed.branche || '',\n    standort: parsed.standort || '',\n    kundenwert: parsed.kundenwert_eur || 3000\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        -400
      ],
      "id": "45c2b18b-5e0d-44dd-b4f3-6c7a5f6242be",
      "name": "Extract Keywords"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $vars.GOOGLE_CSE_KEY || $env.GOOGLE_CSE_KEY }}"
            },
            {
              "name": "cx",
              "value": "={{ $vars.GOOGLE_CSE_CX || $env.GOOGLE_CSE_CX || '0063ebe7a8a39425d' }}"
            },
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "gl",
              "value": "de"
            },
            {
              "name": "hl",
              "value": "de"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2736,
        -400
      ],
      "id": "34288a61-aa48-4497-8383-a7cfdf560afd",
      "name": "SERP Check",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all SERP results and site data\nconst serpItems = $input.all();\nconst site = $('Analyze Site').first().json;\nconst kwItems = $('Extract Keywords').all();\n\nconst kwData = kwItems[0]?.json || {};\nconst branche = kwData.branche || 'Dienstleister';\nconst standort = kwData.standort || '';\nconst kundenwert = kwData.kundenwert || 3000;\n\n// Process SERP results\nconst serpResults = [];\nlet totalLostTraffic = 0;\n\nfor (let i = 0; i < serpItems.length; i++) {\n  const serp = serpItems[i].json;\n  const kw = kwItems[i]?.json || {};\n  const keyword = kw.keyword || 'unbekannt';\n  const volume = kw.volume || 300;\n  const domain = kw.domain || site.domain;\n  \n  // Check if domain appears in results\n  const items = serp?.items || [];\n  let position = -1;\n  let competitors = [];\n  \n  for (let r = 0; r < items.length; r++) {\n    const link = (items[r]?.link || '').toLowerCase();\n    const displayLink = (items[r]?.displayLink || '').toLowerCase();\n    if (link.includes(domain) || displayLink.includes(domain)) {\n      position = r + 1;\n    } else if (competitors.length < 3) {\n      competitors.push({ name: items[r]?.displayLink || '', title: items[r]?.title || '' });\n    }\n  }\n  \n  // Estimate lost traffic if not ranking\n  let lostTraffic = 0;\n  if (position === -1) {\n    lostTraffic = Math.round(volume * 0.03); // ~3% CTR for page 1 avg\n  } else if (position > 3) {\n    lostTraffic = Math.round(volume * 0.015); // could get more traffic if higher\n  }\n  totalLostTraffic += lostTraffic;\n  \n  serpResults.push({\n    keyword,\n    volume,\n    position, // -1 = not found\n    lostTraffic,\n    competitors: competitors.slice(0, 2),\n    status: position === -1 ? 'not_found' : position <= 3 ? 'top3' : position <= 10 ? 'page1' : 'low'\n  });\n}\n\n// Revenue Gap\nconst conversionRate = 0.02;\nconst lostLeadsMonth = Math.round(totalLostTraffic * conversionRate * 10) / 10;\nconst lostRevenueMonth = Math.round(lostLeadsMonth * kundenwert);\nconst lostRevenueYear = lostRevenueMonth * 12;\n\n// Journey Steps\nconst s = site;\nconst steps = [];\n\n// Step 1: Google Search\nconst notRanking = serpResults.filter(r => r.status === 'not_found');\nconst ranking = serpResults.filter(r => r.status !== 'not_found');\nsteps.push({\n  nr: 1,\n  title: 'Ihr Kunde sucht bei Google',\n  icon: '\\uD83D\\uDD0D',\n  results: serpResults,\n  summary: notRanking.length + ' von ' + serpResults.length + ' Keywords: nicht auf Seite 1',\n  status: notRanking.length === 0 ? 'good' : notRanking.length <= 2 ? 'warning' : 'bad'\n});\n\n// Step 2: Website Visit\nconst loadTime = s.speed.metrics.LCP || 'n/a';\nconst loadMs = s.speed.metrics.LCP_ms || 0;\nsteps.push({\n  nr: 2,\n  title: 'Ein Besucher landet auf Ihrer Seite',\n  icon: '\\u26A1',\n  details: [\n    { label: 'Ladezeit (LCP)', value: loadTime, status: loadMs < 2500 ? 'good' : loadMs < 4000 ? 'warning' : 'bad' },\n    { label: 'Mobile Score', value: s.speed.mobileScore + '/100', status: s.speed.mobileScore >= 90 ? 'good' : s.speed.mobileScore >= 50 ? 'warning' : 'bad' },\n    { label: 'SEO Score', value: (s.speed.scores?.seo ?? 0) + '/100', status: (s.speed.scores?.seo ?? 0) >= 90 ? 'good' : (s.speed.scores?.seo ?? 0) >= 70 ? 'warning' : 'bad' },\n    { label: 'Best Practices', value: (s.speed.scores?.bestPractices ?? 0) + '/100', status: (s.speed.scores?.bestPractices ?? 0) >= 90 ? 'good' : (s.speed.scores?.bestPractices ?? 0) >= 70 ? 'warning' : 'bad' },\n    { label: 'Accessibility', value: (s.speed.scores?.accessibility ?? 0) + '/100', status: (s.speed.scores?.accessibility ?? 0) >= 90 ? 'good' : (s.speed.scores?.accessibility ?? 0) >= 70 ? 'warning' : 'bad' },\n    { label: 'Layout-Stabilität (CLS)', value: s.speed.metrics.CLS, status: s.speed.metrics.CLS_val < 0.1 ? 'good' : 'warning' }\n  ],\n  summary: s.speed.mobileScore >= 90 ? 'Schneller als 90% aller Websites. Der Besucher bleibt.' : s.speed.mobileScore >= 50 ? 'Akzeptabel, aber Verbesserungspotenzial.' : 'Zu langsam. Besucher springen ab.',\n  status: s.speed.mobileScore >= 90 ? 'good' : s.speed.mobileScore >= 50 ? 'warning' : 'bad'\n});\n\n// Step 3: Trust\nsteps.push({\n  nr: 3,\n  title: 'Der Besucher sucht einen Grund zu vertrauen',\n  icon: '\\uD83E\\uDD1D',\n  details: [\n    { label: 'Referenzen / Cases', value: s.content.hasCases ? 'Vorhanden' : 'Nicht gefunden', status: s.content.hasCases ? 'good' : 'bad' },\n    { label: 'Kundenstimmen / Testimonials', value: s.content.hasTestimonials ? 'Vorhanden' : 'Nicht gefunden', status: s.content.hasTestimonials ? 'good' : 'bad' },\n    { label: 'SSL / HTTPS', value: s.security.isHttps ? 'Aktiv' : 'Fehlt', status: s.security.isHttps ? 'good' : 'bad' },\n    { label: 'Impressum', value: s.security.hasImpressum ? 'Vorhanden' : 'Nicht gefunden', status: s.security.hasImpressum ? 'good' : 'bad' }\n  ],\n  summary: (s.content.hasCases && s.content.hasTestimonials) ? 'Starker Social Proof. Der Besucher fasst Vertrauen.' : s.content.hasCases ? 'Cases vorhanden, aber keine echten Kundenstimmen. Vertrauen bleibt unvollständig.' : 'Kein Social Proof. Der Besucher vergleicht und wählt den Anbieter mit Beweisen.',\n  status: (s.content.hasCases && s.content.hasTestimonials) ? 'good' : s.content.hasCases || s.content.hasTestimonials ? 'warning' : 'bad'\n});\n\n// Step 4: Contact/Lead\nsteps.push({\n  nr: 4,\n  title: 'Der Besucher will den nächsten Schritt machen',\n  icon: '\\uD83C\\uDFAF',\n  details: [\n    { label: 'Kontaktformular', value: s.content.hasContactForm ? 'Vorhanden' : 'Nicht gefunden', status: s.content.hasContactForm ? 'good' : 'bad' },\n    { label: 'Telefonnummer sichtbar', value: s.content.hasPhone ? 'Ja' : 'Nicht gefunden', status: s.content.hasPhone ? 'good' : 'warning' },\n    { label: 'Lead-Magnet (Guide, Checkliste)', value: s.content.hasLeadMagnet ? 'Vorhanden' : 'Nicht gefunden', status: s.content.hasLeadMagnet ? 'good' : 'bad' },\n    { label: 'Blog / Content Hub', value: s.content.hasBlog ? 'Vorhanden' : 'Nicht gefunden', status: s.content.hasBlog ? 'good' : 'bad' }\n  ],\n  summary: s.content.hasLeadMagnet ? 'Gute Lead-Capture Optionen vorhanden.' : 'Kein Lead-Magnet. 97% der Erstbesucher kommen nie wieder — ohne Opt-in gehen sie für immer verloren.',\n  status: s.content.hasLeadMagnet ? 'good' : s.content.hasContactForm ? 'warning' : 'bad'\n});\n\n// Build prompt for Story Writer\nlet serpSummary = '';\nserpResults.forEach(r => {\n  const icon = r.status === 'not_found' ? 'NICHT GEFUNDEN' : r.status === 'top3' ? 'TOP 3' : 'Position ' + r.position;\n  serpSummary += '- \"' + r.keyword + '\" (~' + r.volume + '/Monat): ' + icon;\n  if (r.competitors.length > 0 && r.status === 'not_found') serpSummary += ' | Stattdessen: ' + r.competitors.map(c => c.name).join(', ');\n  serpSummary += '\\n';\n});\n\nconst storyPrompt = 'Website: ' + s.domain + ' | Branche: ' + branche + ' | Standort: ' + standort + '\\n\\nGOOGLE-SICHTBARKEIT:\\n' + serpSummary + '\\nPERFORMANCE: Mobile ' + s.speed.mobileScore + '/100, LCP ' + s.speed.metrics.LCP + '\\nTRUST: Cases=' + (s.content.hasCases ? 'Ja' : 'Nein') + ', Testimonials=' + (s.content.hasTestimonials ? 'Ja' : 'Nein') + '\\nLEAD-CAPTURE: LeadMagnet=' + (s.content.hasLeadMagnet ? 'Ja' : 'Nein') + ', Blog=' + (s.content.hasBlog ? 'Ja' : 'Nein') + ', Kontaktformular=' + (s.content.hasContactForm ? 'Ja' : 'Nein') + '\\nTRACKING: GTM=' + (s.tracking.hasGtm ? s.tracking.gtmId : 'Nein') + ', Consent=' + s.tracking.consentTools.join('+') + ', Paid=' + (s.tracking.paidPixels.length > 0 ? s.tracking.paidPixels.join('+') : 'keine') + '\\n\\nREVENUE GAP: ~' + totalLostTraffic + ' verlorene Besucher/Monat, ~' + lostLeadsMonth + ' verlorene Leads/Monat, ~' + lostRevenueMonth + ' EUR/Monat (~' + lostRevenueYear + ' EUR/Jahr)';\n\nreturn [{ json: {\n  story_prompt: storyPrompt,\n  steps, serpResults,\n  revenue: { totalLostTraffic, lostLeadsMonth, lostRevenueMonth, lostRevenueYear, kundenwert, conversionRate: '2%' },\n  branche, standort, kundenwert,\n  url: s.url, email: s.email, domain: s.domain,\n  site: s\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        -400
      ],
      "id": "97e0867b-94e5-41ab-a525-526f6c89c159",
      "name": "Build Journey"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du schreibst wie ein Berater der 500 EUR pro Stunde nimmt. Kein Wort ist umsonst. Jeder Satz erzeugt entweder Erkenntnis oder Handlungsdruck.\n\nDu bekommst Daten aus einer Customer-Journey-Simulation. Der Empfaenger hat die Journey-Schritte bereits gesehen. Dein Text ergaenzt — NICHT wiederholen.\n\nSchreibe GENAU 3 Absaetze (MAXIMAL 180 Woerter total):\n\nABSATZ 1 — DAS MUSTER (3 Saetze max):\nVerbinde die Schwaechen zu EINEM klaren Bild. Benutze eine praegnante Metapher die haengenbleibt. Nicht beschreiben was fehlt — sondern was PASSIERT weil es fehlt. Schlecht: \"Ihnen fehlt Content und Testimonials.\" Gut: \"Ihre Website ist ein Schaufenster in einer Seitenstrasse — schoen dekoriert, aber niemand laeuft vorbei.\"\n\nABSATZ 2 — WAS DAS KOSTET (2-3 Saetze):\nNimm die Revenue-Gap-Zahl und mach sie greifbar. Nicht \"9.000 EUR pro Monat entgehen Ihnen\" sondern: \"9.000 EUR pro Monat — das ist ein Vollzeit-Mitarbeiter, der jeden Monat Kunden bringt, den Sie aber nie eingestellt haben.\" Oder: \"In 12 Monaten sind das 108.000 EUR. Genug fuer 3 Entwickler oder 36 Monate Werbebudget.\"\n\nABSATZ 3 — DER NAECHSTE SCHRITT (2 Saetze):\nEine spezifische Frage die nur mit echten Daten beantwortet werden kann. Nicht generisch. Spezifisch fuer DIESE Website, DIESE Branche, DIESEN Standort.\n\nVERBOTEN: Woerter wie \"grundsaetzlich\", \"durchaus\", \"zweifellos\", \"erheblich\", \"signifikant\", \"massgeblich\". Keine Relativierungen. Keine Konjunktive. Keine Aufzaehlungen. Kein Markdown. Max 180 Woerter."
            },
            {
              "content": "={{ $json.story_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3216,
        -400
      ],
      "id": "a4a23e8f-e591-475c-8c35-3c00bdc4b287",
      "name": "Write Story",
      "credentials": {
        "openAiApi": {
          "id": "__SET_IN_N8N__",
          "name": "OPENAI_AUDIT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════\n// BUILD EMAIL HTML — korrigiert für 360° Deep-Dive Funnel\n// Node: \"Build Email HTML\" in n8n Workflow 1 (CJA)\n// ══════════════════════════════════════════════════════════════\n\n// Read story\nconst sj = $('Write Story').first().json;\nlet story = '';\nif (sj?.output?.[0]?.content?.[0]?.text) story = sj.output[0].content[0].text;\nelse if (sj?.content?.[0]?.text) story = sj.content[0].text;\nelse if (typeof sj?.message?.content === 'string') story = sj.message.content;\nelse if (typeof sj?.text === 'string') story = sj.text;\nelse story = '';\nstory = story.replace(/\\*\\*/g, '').replace(/#+\\s/g, '');\n\nconst d = $('Build Journey').first().json;\n\n// URL/Domain robust holen\nconst urlFromValidator = $('URL Validator').first().json?.url;\nconst websiteUrl = d?.url || d?.website || urlFromValidator || '';\n\nlet siteDomain = d?.domain ?? null;\nif (Array.isArray(siteDomain)) siteDomain = siteDomain.find(Boolean) || null;\n\nif (!siteDomain && websiteUrl) {\n  try { siteDomain = new URL(websiteUrl).hostname.replace(/^www\\./, ''); } catch (e) {}\n}\n\nconst siteLabel = siteDomain || websiteUrl || '—';\nconst fileBase = siteDomain || (websiteUrl ? websiteUrl.replace(/^https?:\\/\\//,'').split('/')[0] : '') || 'report';\n\n// Sicherheiten (damit nichts crasht)\nconst steps = d?.steps || [];\nconst serp  = d?.serpResults || [];\nconst rev   = Object.assign({\n  totalLostTraffic: 0,\n  conversionRate: '',\n  kundenwert: 0,\n  lostRevenueMonth: 0,\n  lostRevenueYear: 0\n}, d?.revenue || {});\n\nconst statusIcon = { good: '\\u2705', warning: '\\u26A0\\uFE0F', bad: '\\u274C' };\nconst statusColor = { good: '#22c55e', warning: '#eab308', bad: '#ef4444' };\nconst statusBg = { good: '#f0fdf4', warning: '#fefce8', bad: '#fef2f2' };\n\n// ═══ E-MAIL HTML ═══\nvar h = '';\nh += '<div style=\"font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;background:#f1f5f9;padding:20px;margin:0;\">';\nh += '<div style=\"max-width:640px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 4px 24px rgba(0,0,0,0.08);\">';\n\n// HEADER\nh += '<div style=\"background:#0f0f0f;padding:48px 40px;text-align:center;\">';\nh += '<div style=\"font-size:10px;letter-spacing:4px;text-transform:uppercase;color:#B12A2A;font-weight:800;margin-bottom:8px;\">CUSTOMER JOURNEY AUDIT</div>';\nh += '<h1 style=\"font-size:24px;font-weight:800;color:#fff;margin:0 0 8px;\">Wir haben die Reise Ihres<br>nächsten Kunden simuliert.</h1>';\nh += '<p style=\"font-size:14px;color:#94a3b8;margin:0;\">Website: <strong style=\"color:#fff;\">' + siteLabel + '</strong>';\nif (d.branche) h += ' · ' + d.branche;\nif (d.standort) h += ' · ' + d.standort;\nh += '</p></div>';\n\n// JOURNEY STEPS\nfor (var si = 0; si < steps.length; si++) {\n  var st = steps[si];\n  var sc = statusColor[st.status];\n  var bg = statusBg[st.status];\n  \n  h += '<div style=\"padding:32px 40px;border-bottom:1px solid #e2e8f0;\">';\n  h += '<div style=\"display:flex;align-items:center;margin-bottom:16px;\">';\n  h += '<span style=\"background:' + sc + ';color:#fff;font-size:12px;font-weight:800;width:28px;height:28px;border-radius:50%;display:inline-block;text-align:center;line-height:28px;\">' + st.nr + '</span>';\n  h += '<span style=\"font-size:16px;font-weight:700;color:#0f172a;margin-left:12px;\">' + st.title + '</span>';\n  h += '</div>';\n  \n  // Step 1: SERP results\n  if (st.nr === 1 && st.results) {\n    for (var ri = 0; ri < st.results.length; ri++) {\n      var r = st.results[ri];\n      var rIcon = r.status === 'not_found' ? '\\u274C' : r.status === 'top3' ? '\\u2705' : '\\u26A0\\uFE0F';\n      var rColor = r.status === 'not_found' ? '#ef4444' : r.status === 'top3' ? '#22c55e' : '#eab308';\n      var rText = r.status === 'not_found' ? 'Nicht auf Seite 1' : r.status === 'top3' ? 'Top 3' : 'Position ' + r.position;\n      h += '<div style=\"padding:8px 0;border-bottom:1px solid #f8fafc;\">';\n      h += '<div style=\"display:flex;justify-content:space-between;align-items:center;\">';\n      h += '<div><span style=\"font-size:14px;color:#334155;font-weight:600;\">„' + r.keyword + '“</span><span style=\"font-size:12px;color:#94a3b8;margin-left:8px;\">~' + r.volume + '/Monat</span></div>';\n      h += '<span style=\"font-size:12px;font-weight:700;color:' + rColor + ';\">' + rIcon + ' ' + rText + '</span>';\n      h += '</div>';\n      if (r.competitors.length > 0 && r.status === 'not_found') {\n        h += '<div style=\"font-size:11px;color:#94a3b8;margin-top:2px;\">Stattdessen: ' + r.competitors.map(function(c) { return c.name; }).join(', ') + '</div>';\n      }\n      h += '</div>';\n    }\n  }\n  \n  // Steps 2-4: Detail items\n  if (st.details) {\n    for (var di = 0; di < st.details.length; di++) {\n      var det = st.details[di];\n      var dIcon = statusIcon[det.status];\n      h += '<div style=\"padding:6px 0;display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #f8fafc;\">';\n      h += '<span style=\"font-size:13px;color:#475569;\">' + det.label + '</span>';\n      h += '<span style=\"font-size:13px;font-weight:600;color:' + statusColor[det.status] + ';\">' + dIcon + ' ' + det.value + '</span>';\n      h += '</div>';\n    }\n  }\n  \n  // Summary\n  h += '<div style=\"margin-top:12px;padding:10px 14px;background:' + bg + ';border-radius:6px;border-left:3px solid ' + sc + ';\">';\n  h += '<p style=\"font-size:13px;line-height:1.5;color:#334155;margin:0;font-style:italic;\">' + st.summary + '</p>';\n  h += '</div></div>';\n}\n\n// REVENUE GAP\nh += '<div style=\"background:#0f0f0f;padding:40px;text-align:center;\">';\nh += '<div style=\"font-size:10px;letter-spacing:3px;text-transform:uppercase;color:#B12A2A;font-weight:800;margin-bottom:16px;\">GESCHÄTZTER REVENUE GAP</div>';\nh += '<div style=\"display:inline-block;margin-bottom:24px;\">';\nh += '<table style=\"border-collapse:collapse;text-align:left;margin:0 auto;\">';\nh += '<tr><td style=\"padding:4px 16px 4px 0;font-size:13px;color:#94a3b8;\">Verlorener Traffic</td><td style=\"font-size:13px;color:#fff;font-weight:600;\">~' + rev.totalLostTraffic + ' Besucher/Monat</td></tr>';\nh += '<tr><td style=\"padding:4px 16px 4px 0;font-size:13px;color:#94a3b8;\">× Conversion Rate</td><td style=\"font-size:13px;color:#fff;font-weight:600;\">' + rev.conversionRate + '</td></tr>';\nh += '<tr><td style=\"padding:4px 16px 4px 0;font-size:13px;color:#94a3b8;\">× Ø Kundenwert</td><td style=\"font-size:13px;color:#fff;font-weight:600;\">' + rev.kundenwert.toLocaleString('de-DE') + ' €</td></tr>';\nh += '<tr><td colspan=\"2\" style=\"border-top:1px solid #333;padding-top:12px;\"></td></tr>';\nh += '<tr><td style=\"padding:4px 16px 4px 0;font-size:15px;color:#94a3b8;font-weight:600;\">Potenzial pro Monat</td><td style=\"font-size:22px;color:#ef4444;font-weight:900;\">~' + rev.lostRevenueMonth.toLocaleString('de-DE') + ' €</td></tr>';\nh += '<tr><td style=\"padding:4px 16px 4px 0;font-size:15px;color:#94a3b8;font-weight:600;\">Potenzial pro Jahr</td><td style=\"font-size:22px;color:#ef4444;font-weight:900;\">~' + rev.lostRevenueYear.toLocaleString('de-DE') + ' €</td></tr>';\nh += '</table></div>';\nh += '<p style=\"font-size:11px;color:#64748b;margin:0;\">Basierend auf geschätzten Suchvolumen und branchentypischen Conversion Rates. Tatsächliche Werte können abweichen.</p>';\nh += '</div>';\n\n// STRATEGISCHE EINORDNUNG\nif (story && story.length > 50) {\n  h += '<div style=\"padding:32px 40px;\">';\n  h += '<h2 style=\"font-size:13px;text-transform:uppercase;letter-spacing:2px;color:#94a3b8;margin:0 0 16px;font-weight:600;\">Strategische Einordnung</h2>';\n  var paras = story.split(/\\n\\n+/).filter(function(p) { return p.trim() && p.trim().length > 20; }).map(function(p) { p = p.replace(/\\n/g, ' ').trim(); return '<p style=\"font-size:14px;line-height:1.75;color:#334155;margin:0 0 14px;\">' + p + '</p>'; }).join('');\n  h += paras;\n  h += '</div>';\n}\n\n// ═══ DATA-DRIVEN CTA (Bridge zum 360° Deep-Dive) ═══\nvar notFoundKws = serp.filter(function(r) { return r.status === 'not_found'; });\nvar topKw = notFoundKws.length > 0 ? notFoundKws[0].keyword : '';\nvar ctaLine1 = '';\nvar ctaLine2 = '';\n\nif (rev.lostRevenueYear > 50000) {\n  ctaLine1 = '~' + rev.lostRevenueYear.toLocaleString('de-DE') + ' € Jahrespotenzial liegen auf dem Tisch.';\n} else {\n  ctaLine1 = 'Jeden Monat gehen Ihnen planbare Anfragen verloren.';\n}\n\nif (topKw) {\n  ctaLine2 = 'Allein für „' + topKw + '“ suchen potenzielle Kunden aktiv nach genau Ihrem Angebot — und finden Ihre Wettbewerber.';\n} else {\n  ctaLine2 = 'Ihre Wettbewerber sind dort sichtbar, wo Ihre Kunden suchen — Sie nicht.';\n}\n\nh += '<div style=\"background:#0f0f0f;color:#fff;padding:48px 40px;text-align:center;\">';\nh += '<p style=\"font-size:20px;font-weight:800;color:#fff;margin:0 0 20px;line-height:1.4;\">' + ctaLine1 + '</p>';\nh += '<p style=\"font-size:15px;color:#cbd5e1;line-height:1.7;margin:0 0 12px;\">' + ctaLine2 + '</p>';\nh += '<p style=\"font-size:14px;color:#94a3b8;line-height:1.6;margin:0 0 28px;\">Dieser Report zeigt die Oberfläche. Was er nicht zeigen kann: ob Ihr Tracking saubere Daten liefert, wie Ihre Lead-Qualität wirklich aussieht und welche Hebel den größten ROI bringen.</p>';\nh += '<a href=\"https://hasimuener.de/360-deep-dive/#deep-dive-section\" style=\"background:#ffb020;color:#000;text-decoration:none;padding:16px 40px;border-radius:6px;font-weight:800;text-transform:uppercase;display:inline-block;font-size:13px;letter-spacing:1.5px;\">360° Deep-Dive starten — 5 Fragen, kein Call</a>';\nh += '<p style=\"color:#64748b;font-size:12px;margin-top:16px;\">Kein Sales-Call. Persönliche Analyse in 48h.</p>';\nh += '<p style=\"color:#64748b;font-size:12px;margin-top:12px;\">Oder direkt: <a href=\"https://cal.com/hasim/30min\" style=\"color:#ffb020;text-decoration:none;font-weight:700;\">Strategiecall buchen →</a></p>';\nh += '</div>';\n\n// FOOTER\nh += '<div style=\"background:#f8fafc;padding:24px 40px;text-align:center;\">';\nh += '<p style=\"font-size:11px;color:#94a3b8;margin:0;\">© 2026 Hasim Üner · Growth Architect · hasimuener.de</p>';\nh += '</div></div></div>';\n\nconst topKeyword = serp.length > 0 ? serp.find(function(r) { return r.status === 'not_found'; }) || serp[0] : null;\nconst subjectHook = topKeyword ? '„' + topKeyword.keyword + '“ — Ihre Kunden suchen, aber finden Sie nicht' : 'Customer Journey Audit';\n\n// ═══ BUILD PDF-OPTIMIZED HTML ═══\nvar pdf = '<!DOCTYPE html><html lang=\"de\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">';\npdf += '<title>Customer Journey Audit — ' + siteLabel + '</title>';\npdf += '<style>@import url(\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap\");';\npdf += 'body{font-family:Inter,system-ui,sans-serif;margin:0;padding:0;background:#fff;color:#1e293b;-webkit-print-color-adjust:exact;print-color-adjust:exact}';\npdf += '.page{max-width:780px;margin:0 auto;padding:40px}';\npdf += '.header{background:#0f0f0f;color:#fff;padding:48px 40px;text-align:center;border-radius:12px 12px 0 0;margin:-40px -40px 32px}';\npdf += '.header h1{font-size:22px;font-weight:900;margin:8px 0}';\npdf += '.header .sub{font-size:10px;letter-spacing:4px;text-transform:uppercase;color:#B12A2A;font-weight:800}';\npdf += '.header .meta{font-size:13px;color:#94a3b8;margin-top:8px}';\npdf += '.step{margin-bottom:28px;border:1px solid #e2e8f0;border-radius:8px;overflow:hidden}';\npdf += '.step-head{background:#f8fafc;padding:12px 16px;font-size:15px;font-weight:700;border-bottom:1px solid #e2e8f0;display:flex;align-items:center;gap:10px}';\npdf += '.step-nr{background:#334155;color:#fff;width:24px;height:24px;border-radius:50%;text-align:center;line-height:24px;font-size:11px;font-weight:800;flex-shrink:0}';\npdf += '.step-body{padding:14px 16px}';\npdf += '.row{display:flex;justify-content:space-between;padding:5px 0;border-bottom:1px solid #f8fafc;font-size:13px}';\npdf += '.summary{margin-top:10px;padding:8px 12px;border-radius:4px;font-size:12px;font-style:italic;line-height:1.5}';\npdf += '.good{background:#f0fdf4;border-left:3px solid #22c55e;color:#166534}';\npdf += '.warning{background:#fefce8;border-left:3px solid #eab308;color:#854d0e}';\npdf += '.bad{background:#fef2f2;border-left:3px solid #ef4444;color:#991b1b}';\npdf += '.gap{background:#0f0f0f;color:#fff;padding:32px;border-radius:8px;text-align:center;margin:28px 0}';\npdf += '.gap .label{font-size:10px;letter-spacing:3px;text-transform:uppercase;color:#B12A2A;font-weight:800;margin-bottom:12px}';\npdf += '.gap table{margin:0 auto;text-align:left;border-collapse:collapse}';\npdf += '.gap td{padding:3px 12px;font-size:13px}';\npdf += '.gap .dim{color:#94a3b8} .gap .val{color:#fff;font-weight:600}';\npdf += '.gap .big{font-size:20px;color:#ef4444;font-weight:900}';\npdf += '.analysis{margin:28px 0} .analysis p{font-size:13px;line-height:1.7;margin:0 0 12px;color:#334155}';\npdf += '.footer{text-align:center;font-size:11px;color:#94a3b8;margin-top:32px;padding-top:16px;border-top:1px solid #e2e8f0}';\npdf += '@media print{.no-print{display:none!important} .page{padding:20px} .header{margin:-20px -20px 24px} body{font-size:12px}}';\npdf += '</style></head><body>';\npdf += '<div class=\"page\">';\n\n// Print button\npdf += '<div class=\"no-print\" style=\"text-align:center;padding:16px 20px;background:#f0fdf4;border:1px solid #bbf7d0;border-radius:8px;margin-bottom:20px;\">';\npdf += '<button onclick=\"window.print()\" style=\"background:#0f0f0f;color:#fff;border:none;padding:14px 36px;border-radius:6px;font-weight:700;cursor:pointer;font-size:15px;letter-spacing:0.5px;\">📄 Als PDF speichern</button>';\npdf += '<p style=\"font-size:13px;color:#475569;margin:10px 0 0;\">Klicken → Im Druck-Dialog „Als PDF sichern“ wählen → Fertig.</p>';\npdf += '</div>';\n\n// PDF Header\npdf += '<div class=\"header\">';\npdf += '<div class=\"sub\">CUSTOMER JOURNEY AUDIT</div>';\npdf += '<h1>Die Reise Ihres nächsten Kunden</h1>';\npdf += '<div class=\"meta\">' + siteLabel;\nif (d.branche) pdf += ' · ' + d.branche;\nif (d.standort) pdf += ' · ' + d.standort;\npdf += '</div></div>';\n\n// PDF Journey Steps\nfor (var psi = 0; psi < steps.length; psi++) {\n  var ps = steps[psi];\n  pdf += '<div class=\"step\">';\n  pdf += '<div class=\"step-head\"><span class=\"step-nr\">' + ps.nr + '</span>' + ps.title + '</div>';\n  pdf += '<div class=\"step-body\">';\n  \n  if (ps.nr === 1 && ps.results) {\n    for (var pri = 0; pri < ps.results.length; pri++) {\n      var pr = ps.results[pri];\n      var pStatus = pr.status === 'not_found' ? '❌ Nicht auf Seite 1' : pr.status === 'top3' ? '✅ Top 3' : '⚠️ Pos. ' + pr.position;\n      pdf += '<div class=\"row\"><span>„' + pr.keyword + '“ <span style=\"color:#94a3b8\">~' + pr.volume + '/Mo</span></span><span style=\"font-weight:600\">' + pStatus + '</span></div>';\n    }\n  }\n  \n  if (ps.details) {\n    for (var pdi = 0; pdi < ps.details.length; pdi++) {\n      var pd2 = ps.details[pdi];\n      var pdIcon = { good: '✅', warning: '⚠️', bad: '❌' }[pd2.status];\n      pdf += '<div class=\"row\"><span>' + pd2.label + '</span><span>' + pdIcon + ' ' + pd2.value + '</span></div>';\n    }\n  }\n  \n  pdf += '<div class=\"summary ' + ps.status + '\">' + ps.summary + '</div>';\n  pdf += '</div></div>';\n}\n\n// PDF Revenue Gap\npdf += '<div class=\"gap\">';\npdf += '<div class=\"label\">GESCHÄTZTER REVENUE GAP</div>';\npdf += '<table>';\npdf += '<tr><td class=\"dim\">Verlorener Traffic</td><td class=\"val\">~' + rev.totalLostTraffic + ' Besucher/Monat</td></tr>';\npdf += '<tr><td class=\"dim\">× Conversion Rate</td><td class=\"val\">' + rev.conversionRate + '</td></tr>';\npdf += '<tr><td class=\"dim\">× Ø Kundenwert</td><td class=\"val\">' + rev.kundenwert.toLocaleString('de-DE') + ' €</td></tr>';\npdf += '<tr><td colspan=\"2\" style=\"border-top:1px solid #333;padding-top:8px\"></td></tr>';\npdf += '<tr><td class=\"dim\" style=\"font-weight:600\">Potenzial / Monat</td><td class=\"big\">~' + rev.lostRevenueMonth.toLocaleString('de-DE') + ' €</td></tr>';\npdf += '<tr><td class=\"dim\" style=\"font-weight:600\">Potenzial / Jahr</td><td class=\"big\">~' + rev.lostRevenueYear.toLocaleString('de-DE') + ' €</td></tr>';\npdf += '</table>';\npdf += '<p style=\"font-size:10px;color:#64748b;margin-top:12px\">Basierend auf geschätzten Suchvolumen und branchentypischen Conversion Rates.</p>';\npdf += '</div>';\n\n// PDF Analysis\nif (story && story.length > 50) {\n  pdf += '<div class=\"analysis\">';\n  pdf += '<h2 style=\"font-size:14px;text-transform:uppercase;letter-spacing:2px;color:#94a3b8;font-weight:600;margin:0 0 12px\">Strategische Einordnung</h2>';\n  story.split(/\\n\\n+/).filter(function(p) { return p.trim().length > 20; }).forEach(function(p) {\n    pdf += '<p>' + p.replace(/\\n/g, ' ').trim() + '</p>';\n  });\n  pdf += '</div>';\n}\n\n// PDF CTA (Deep-Dive Bridge)\npdf += '<div style=\"background:#0f0f0f;color:#fff;padding:32px;border-radius:8px;text-align:center;margin:28px 0;\">';\npdf += '<p style=\"font-size:16px;font-weight:800;color:#fff;margin:0 0 12px;\">Nächster Schritt: 360° Deep-Dive</p>';\npdf += '<p style=\"font-size:13px;color:#94a3b8;margin:0 0 16px;line-height:1.6;\">Dieser Report zeigt die Oberfläche. Mit 5 gezielten Fragen zu Ihrem Setup erstelle ich eine persönliche Analyse mit konkreten Hebeln.</p>';\npdf += '<p style=\"font-size:14px;font-weight:700;color:#ffb020;margin:0 0 8px;\">hasimuener.de/customer-journey-audit/#deep-dive-section</p>';\npdf += '<p style=\"font-size:12px;color:#64748b;margin:0;\">Oder direkt: Strategiecall buchen → cal.com/hasim/30min</p>';\npdf += '</div>';\n\n// PDF Footer\npdf += '<div class=\"footer\">';\npdf += '<p>© 2026 Hasim Üner · Growth Architect · hasimuener.de</p>';\npdf += '</div></div></body></html>';\n\n// Create binary attachment\nconst pdfBuffer = Buffer.from(pdf, 'utf-8');\n\nreturn [{\n  json: { html: h, subject: siteLabel + ': ' + subjectHook, email: d.email },\n  binary: {\n    attachment_0: {\n      data: pdfBuffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'Customer-Journey-Audit-' + (fileBase || 'report').replace(/[^a-zA-Z0-9-]/g, '-') + '.html',\n      fileExtension: 'html'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        -400
      ],
      "id": "822f393a-9d26-4e2b-a84f-f478ae102d3f",
      "name": "Build Email HTML"
    },
    {
      "parameters": {
        "fromEmail": "performance@hasimuener.de",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "attachments": "attachment_0"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4416,
        -400
      ],
      "id": "c5990da8-af08-422c-bfe6-0a81c1d35319",
      "name": "Send email",
      "webhookId": "7e261e0f-0b41-401d-b58d-c0c2bd5af289",
      "credentials": {
        "smtp": {
          "id": "__SET_IN_N8N__",
          "name": "SMTP_BREVO_AUDIT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        -400
      ],
      "id": "41387c66-4043-4615-ba48-1863b45e16eb",
      "name": "IF Valid Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, jobId: $json.jobId, status: \"processing\", message: \"Audit gestartet. Ergebnisse werden in ca. 30-60 Sekunden angezeigt.\", pollUrl: \"/webhook/audit-status?jobId=\" + $json.jobId } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        -480
      ],
      "id": "f7e33837-3218-4257-90e0-1d6215fdc3f0",
      "name": "Respond OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: $json.error || \"Ungültige Anfrage\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        -240
      ],
      "id": "d4b584b9-31a2-4b23-ab6b-3e5b1df634af",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "jsCode": "function unwrap(x) {\n  if (!x) return {};\n  if (x.lighthouseResult || x.error) return x;\n  if (x.body && (x.body.lighthouseResult || x.body.error)) return x.body;\n  if (x.data && (x.data.lighthouseResult || x.data.error)) return x.data;\n  if (x.response && (x.response.lighthouseResult || x.response.error)) return x.response;\n  if (x.response?.body && (x.response.body.lighthouseResult || x.response.body.error)) return x.response.body;\n  return x;\n}\n\nconst p = unwrap($input.first().json || {});\nconst needRetry = (!p.lighthouseResult) || !!p.error;\nreturn [{ json: { needRetry } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -400
      ],
      "id": "2e62e945-5f81-4cde-a27b-8d0131f8696e",
      "name": "Check PageSpeed"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needRetry }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        896,
        -400
      ],
      "id": "6ccda909-ccbb-442d-8875-c14ace21402f",
      "name": "IF PageSpeed Retry?"
    },
    {
      "parameters": {
        "amount": 12,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1056,
        -240
      ],
      "id": "86a13e86-facd-4bef-b124-8f4f52711c31",
      "name": "Wait 12s",
      "webhookId": "40e61795-160c-46ab-92da-3637fe766634"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed?category=performance&category=seo&category=best-practices&category=accessibility",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('URL Validator').first().json.url }}"
            },
            {
              "name": "strategy",
              "value": "mobile"
            },
            {
              "name": "category",
              "value": "performance"
            },
            {
              "name": "category",
              "value": "seo"
            },
            {
              "name": "category",
              "value": "best-practices"
            },
            {
              "name": "category",
              "value": "accessibility"
            },
            {
              "name": "locale",
              "value": "de_DE"
            },
            {
              "name": "key",
              "value": "={{ $vars.GOOGLE_PAGESPEED_API_KEY || $env.GOOGLE_PAGESPEED_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -240
      ],
      "id": "f8913a0e-1b12-457a-8f44-0cee91e8aba4",
      "name": "PageSpeed API Retry",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// PageSpeed Final — pick best response (try1 vs retry) + unwrap common wrappers\n\nfunction unwrap(x) {\n  if (!x) return {};\n  if (x.lighthouseResult || x.error) return x;\n  if (x.body && (x.body.lighthouseResult || x.body.error)) return x.body;\n  if (x.data && (x.data.lighthouseResult || x.data.error)) return x.data;\n  if (x.response && (x.response.lighthouseResult || x.response.error)) return x.response;\n  if (x.response?.body && (x.response.body.lighthouseResult || x.response.body.error)) return x.response.body;\n  return x;\n}\n\nfunction perfScore(obj) {\n  const s = obj?.lighthouseResult?.categories?.performance?.score;\n  return typeof s === \"number\" ? Math.round(s * 100) : 0;\n}\n\nfunction ok(obj) {\n  return !!obj?.lighthouseResult && !obj?.error;\n}\n\nlet p1 = {};\nlet p2 = {};\ntry { p1 = unwrap($(\"PageSpeed API\").first().json); } catch (e) {}\ntry { p2 = unwrap($(\"PageSpeed API Retry\").first().json); } catch (e) {}\n\nlet chosen = p1;\nif (ok(p2) && (!ok(p1) || perfScore(p2) >= perfScore(p1))) chosen = p2;\nchosen = chosen || {};\n\nchosen._auditMeta = chosen._auditMeta || {};\nchosen._auditMeta.pagespeed = {\n  chosen: ok(chosen) ? (chosen === p2 ? \"retry\" : \"first\") : \"none\",\n  try1_ok: ok(p1),\n  try2_ok: ok(p2),\n  score_try1: perfScore(p1),\n  score_try2: perfScore(p2),\n};\n\nreturn [{ json: chosen }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -400
      ],
      "id": "8cf5f2c2-6214-4c0a-b914-1a1fc51df501",
      "name": "PageSpeed Final"
    },
    {
      "parameters": {
        "url": "={{ $('URL Validator').first().json.url }}/sitemap.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        -240
      ],
      "id": "8d197ff5-f570-4c59-8053-2dc39028481f",
      "name": "Sitemap Fetch Fallback",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let a = '';\nlet b = '';\ntry { a = $('Sitemap Fetch').first().json?.data || $('Sitemap Fetch').first().json?.body || ''; } catch(e) {}\ntry { b = $('Sitemap Fetch Fallback').first().json?.data || $('Sitemap Fetch Fallback').first().json?.body || ''; } catch(e) {}\n\na = (typeof a === 'string') ? a : JSON.stringify(a||'');\nb = (typeof b === 'string') ? b : JSON.stringify(b||'');\n\nconst hasLocA = /<loc>[^<]+<\\/loc>/i.test(a);\nconst hasLocB = /<loc>[^<]+<\\/loc>/i.test(b);\n\nlet chosen = hasLocA ? a : (hasLocB ? b : a || b || '');\n\nreturn [{ json: { body: chosen, meta: { ok: !!chosen, used: hasLocA ? 'index' : (hasLocB ? 'fallback' : 'none') } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -400
      ],
      "id": "ff68f5b1-c164-4859-9131-6a02fa52c3a6",
      "name": "Sitemap Final"
    },
    {
      "parameters": {
        "jsCode": "// Build clean JSON payload for WordPress frontend display\nconst d = $('Build Journey').first().json;\nconst site = d.site;\nconst steps = d.steps;\nconst serp = d.serpResults;\nconst rev = d.revenue;\n\n// Read story\nconst sj = $('Write Story').first().json;\nlet story = '';\nif (sj?.output?.[0]?.content?.[0]?.text) story = sj.output[0].content[0].text;\nelse if (sj?.content?.[0]?.text) story = sj.content[0].text;\nelse if (typeof sj?.message?.content === 'string') story = sj.message.content;\nelse if (typeof sj?.text === 'string') story = sj.text;\nelse story = '';\nstory = story.replace(/\\*\\*/g, '').replace(/#+\\s/g, '');\n\n// Build frontend-optimized JSON\nconst frontendData = {\n  meta: {\n    domain: d.domain,\n    url: d.url,\n    branche: d.branche,\n    standort: d.standort,\n    generatedAt: new Date().toISOString()\n  },\n  scores: {\n    mobile: site.speed.mobileScore,\n    seo: {\n      hasTitle: !!site.seo.title,\n      hasMetaDesc: !!site.seo.metaDesc,\n      hasCanonical: !!site.seo.canonical,\n      hasOg: site.seo.hasOg,\n      hasSitemap: site.seo.hasSitemap,\n      h1Count: site.seo.h1Count,\n      schemaTypes: site.seo.schemaTypes\n    },\n    tracking: {\n      hasGa4: site.tracking.hasGa4,\n      hasGtm: site.tracking.hasGtm,\n      gtmId: site.tracking.gtmId,\n      hasSgtm: site.tracking.hasSgtm,\n      hasConsent: site.tracking.hasConsent,\n      consentTools: site.tracking.consentTools,\n      paidPixels: site.tracking.paidPixels\n    }\n  },\n  performance: {\n    mobileScore: site.speed.mobileScore,\n    lcp: site.speed.metrics.LCP,\n    lcpMs: site.speed.metrics.LCP_ms,\n    cls: site.speed.metrics.CLS,\n    clsVal: site.speed.metrics.CLS_val,\n    tbt: site.speed.metrics.TBT,\n    tbtMs: site.speed.metrics.TBT_ms,\n    fcp: site.speed.metrics.FCP,\n    ttfb: site.speed.metrics.TTFB\n  },\n  journeySteps: steps,\n  serpResults: serp,\n  revenue: rev,\n  story: story,\n  cta: {\n    url: '#deep-dive-section',\n    label: '360° Deep-Dive starten',\n    sublabel: '5 gezielte Fragen · Kein Sales-Call · Persönliche Analyse in 48h',\n    altUrl: 'https://cal.com/hasim/30min',\n    altLabel: 'Oder direkt: Strategiecall buchen →'\n  }\n};\n\nreturn [{ json: { frontendData, email: d.email, domain: d.domain } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        -400
      ],
      "id": "d218c76f-60ca-4b4d-a9df-4de2a0e0743c",
      "name": "Build Frontend Data"
    },
    {
      "parameters": {
        "jsCode": "// Store audit results in workflow static data for polling\nconst sd = $getWorkflowStaticData('global');\nconst jobId = $('URL Validator').first().json.jobId;\nconst frontendData = $json.frontendData;\n\n// Store with TTL timestamp (2 hours)\nsd[jobId] = JSON.stringify({\n  status: 'done',\n  data: frontendData,\n  storedAt: Date.now(),\n  expiresAt: Date.now() + (2 * 60 * 60 * 1000) // 2h TTL\n});\n\n// Cleanup: remove expired results (older than 2 hours)\nconst now = Date.now();\nfor (const key of Object.keys(sd)) {\n  if (key.startsWith('job_')) {\n    try {\n      const entry = JSON.parse(sd[key]);\n      if (entry.expiresAt && entry.expiresAt < now) {\n        delete sd[key];\n      }\n    } catch(e) {\n      // Also clean rate limit keys older than current hour\n      if (key.startsWith('rl:')) {\n        const hour = Math.floor(now / (60*60*1000));\n        const keyHour = parseInt(key.split(':')[2] || '0');\n        if (keyHour < hour - 1) delete sd[key];\n      }\n    }\n  }\n}\n\nreturn [{ json: { stored: true, jobId, email: $json.email, domain: $json.domain } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -400
      ],
      "id": "ec3dfdd9-bdba-4654-a62f-81a03f13e177",
      "name": "Store Results"
    },
    {
      "parameters": {
        "path": "audit-status",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        80
      ],
      "id": "bc8ec8ab-0fda-4426-a2a7-82eeb9511492",
      "name": "Webhook Status",
      "webhookId": "audit-status-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Look up audit results by jobId\nconst sd = $getWorkflowStaticData('global');\n\n// Query-Parameter aus Webhook holen (n8n v2)\nconst jobId = $('Webhook Status').first().json.query?.jobId \n           || $('Webhook Status').first().json.params?.jobId \n           || '';\n\nif (!jobId || !jobId.startsWith('job_')) {\n  return [{ json: { ok: false, status: 'error', error: 'Ungültige Job-ID.' } }];\n}\n\nconst raw = sd[jobId];\nif (!raw) {\n  return [{ json: { ok: true, status: 'processing', jobId, message: 'Audit läuft noch...' } }];\n}\n\ntry {\n  const entry = JSON.parse(raw);\n  if (entry.expiresAt && entry.expiresAt < Date.now()) {\n    delete sd[jobId];\n    return [{ json: { ok: false, status: 'expired', error: 'Ergebnis abgelaufen.' } }];\n  }\n  return [{ json: { ok: true, status: 'done', jobId, data: entry.data } }];\n} catch(e) {\n  return [{ json: { ok: false, status: 'error', error: 'Fehler beim Laden.' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        80
      ],
      "id": "ad448cf2-625f-46c2-a220-b9982f33b061",
      "name": "Lookup Results"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        96,
        80
      ],
      "id": "126606ab-8da2-43be-901f-76ae593d201c",
      "name": "Respond Status"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "URL Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Validator": {
      "main": [
        [
          {
            "node": "IF Valid Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader": {
      "main": [
        [
          {
            "node": "Raw HTML Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raw HTML Fetch": {
      "main": [
        [
          {
            "node": "PageSpeed API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed API": {
      "main": [
        [
          {
            "node": "Check PageSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sitemap Fetch": {
      "main": [
        [
          {
            "node": "Sitemap Fetch Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Site": {
      "main": [
        [
          {
            "node": "Keyword Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Generator": {
      "main": [
        [
          {
            "node": "Extract Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keywords": {
      "main": [
        [
          {
            "node": "SERP Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERP Check": {
      "main": [
        [
          {
            "node": "Build Journey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Journey": {
      "main": [
        [
          {
            "node": "Write Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Story": {
      "main": [
        [
          {
            "node": "Build Frontend Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Request": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Jina Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PageSpeed": {
      "main": [
        [
          {
            "node": "IF PageSpeed Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF PageSpeed Retry?": {
      "main": [
        [
          {
            "node": "Wait 12s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PageSpeed Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 12s": {
      "main": [
        [
          {
            "node": "PageSpeed API Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed API Retry": {
      "main": [
        [
          {
            "node": "PageSpeed Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed Final": {
      "main": [
        [
          {
            "node": "Sitemap Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sitemap Fetch Fallback": {
      "main": [
        [
          {
            "node": "Sitemap Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sitemap Final": {
      "main": [
        [
          {
            "node": "Analyze Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Frontend Data": {
      "main": [
        [
          {
            "node": "Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Results": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Status": {
      "main": [
        [
          {
            "node": "Lookup Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Results": {
      "main": [
        [
          {
            "node": "Respond Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
