automations/n8n/workflows/audit-funnel__instant-results__live-import.json
{
  "name": "Audit Funnel - Instant Results Live V3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -400
      ],
      "id": "fcba7c74-bb4c-474b-8d6d-64dac8287b64",
      "name": "Webhook",
      "webhookId": "cdb8b9f9-a8f2-4ebf-bca1-e1c05f9e9ffe"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json || {};\nconst body = req.body || {};\nconst ui = body.__submission?.user_inputs || body;\nlet url = (ui.url || body.url || '').toString().trim();\nconst ip = (body.__submission?.ip || req.ip || req.headers?.['x-forwarded-for'] || '').toString();\nconst ua = (body.__submission?.browser || req.headers?.['user-agent'] || '').toString();\nconst errors = [];\n\nfunction normalizeUrl(input, required) {\n  let value = (input || '').toString().trim();\n  if (!value) {\n    if (required) errors.push('Bitte eine Website-URL angeben.');\n    return '';\n  }\n  if (!/^https?:\\/\\//i.test(value)) value = 'https://' + value;\n  try {\n    const u = new URL(value);\n    if (!/^https?:$/.test(u.protocol)) {\n      errors.push('Nur http/https URLs sind erlaubt.');\n      return '';\n    }\n    u.hash = '';\n    return u.toString().replace(/\\/+$/, '');\n  } catch (e) {\n    errors.push('URL ist ungültig. Beispiel: https://example.de');\n    return '';\n  }\n}\n\nfunction isPrivateIPv4(host) {\n  const m = host.match(/^(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})$/);\n  if (!m) return false;\n  const a = m.slice(1).map((x) => parseInt(x, 10));\n  if (a.some((x) => Number.isNaN(x) || x < 0 || x > 255)) return true;\n  if (a[0] === 10) return true;\n  if (a[0] === 127) return true;\n  if (a[0] === 169 && a[1] === 254) return true;\n  if (a[0] === 192 && a[1] === 168) return true;\n  if (a[0] === 172 && a[1] >= 16 && a[1] <= 31) return true;\n  return false;\n}\n\nurl = normalizeUrl(url, true);\n\nif (errors.length === 0 && url) {\n  const host = new URL(url).hostname.toLowerCase();\n  const hostNoWww = host.replace(/^www\\./, '');\n  const denyHosts = ['localhost', '127.0.0.1', '0.0.0.0', '::1', '169.254.169.254'];\n  const isIp = /^[0-9.]+$/.test(hostNoWww) || hostNoWww.includes(':');\n\n  if (denyHosts.includes(hostNoWww)) errors.push('Diese URL ist nicht erlaubt.');\n  if (isIp && isPrivateIPv4(hostNoWww)) errors.push('Private/Interne IPs sind nicht erlaubt.');\n  if (/\\.local$|\\.internal$|\\.lan$|\\.home$/.test(hostNoWww)) errors.push('Interne Domains sind nicht erlaubt.');\n\n  try {\n    const sd = $getWorkflowStaticData('global');\n    const now = Date.now();\n    const hour = Math.floor(now / (60 * 60 * 1000));\n    const key = 'rl:' + (ip || 'unknown') + ':' + hour;\n    sd[key] = (sd[key] || 0) + 1;\n    if (sd[key] > 30) errors.push('Zu viele Anfragen. Bitte in 60 Minuten erneut versuchen.');\n  } catch (e) {}\n}\n\nconst jobId = 'job_' + Date.now().toString(36) + '_' + Math.random().toString(36).slice(2, 10);\n\nlet domain = null;\nif (url) {\n  try {\n    domain = new URL(url).hostname.replace(/^www\\./, '');\n  } catch (e) {}\n}\n\nreturn [{\n  json: {\n    ok: errors.length === 0,\n    error: errors.length ? errors.join(' ') : null,\n    url,\n    domain,\n    jobId,\n    ip,\n    ua,\n    ts: new Date().toISOString(),\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -400
      ],
      "id": "df87a1c4-f39e-47af-8f09-47e282ff2c5c",
      "name": "URL Validator"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        0,
        -400
      ],
      "id": "41387c66-4043-4615-ba48-1863b45e16eb",
      "name": "IF Valid Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, status: $json.status || \"error\", error: $json.error || \"Ungültige Anfrage\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        -240
      ],
      "id": "d4b584b9-31a2-4b23-ab6b-3e5b1df634af",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, jobId: $json.jobId, status: \"processing\", message: \"Audit gestartet. Ergebnisse werden in ca. 30-60 Sekunden direkt auf der Seite angezeigt.\", pollUrl: \"/webhook/audit-status?jobId=\" + $json.jobId } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        -480
      ],
      "id": "f7e33837-3218-4257-90e0-1d6215fdc3f0",
      "name": "Respond OK"
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst meta = $('URL Validator').first().json;\nconst now = Date.now();\nconst ttlMs = 2 * 60 * 60 * 1000;\n\nsd[meta.jobId] = JSON.stringify({\n  status: 'processing',\n  message: 'Audit läuft...',\n  request: {\n    url: meta.url,\n    domain: meta.domain || null,\n    ip: meta.ip || '',\n    ua: meta.ua || '',\n  },\n  storedAt: now,\n  updatedAt: now,\n  expiresAt: now + ttlMs,\n});\n\nconst hour = Math.floor(now / (60 * 60 * 1000));\nfor (const key of Object.keys(sd)) {\n  if (key.startsWith('job_')) {\n    try {\n      const entry = JSON.parse(sd[key]);\n      if (entry.expiresAt && entry.expiresAt < now) delete sd[key];\n    } catch (e) {\n      delete sd[key];\n    }\n    continue;\n  }\n\n  if (key.startsWith('rl:')) {\n    const keyHour = parseInt(key.split(':')[2] || '0', 10);\n    if (Number.isFinite(keyHour) && keyHour < hour - 1) delete sd[key];\n  }\n}\n\nreturn [{ json: meta }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -520
      ],
      "id": "1a7c1a10-4b58-4f80-840b-5d1e9fa00002",
      "name": "Store Processing"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; AuditBot/1.0)"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        96,
        -400
      ],
      "id": "8f5f5c07-772d-4501-9665-767d68801f06",
      "name": "Jina Reader",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('URL Validator').first().json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; AuditBot/1.0)"
            },
            {
              "name": "Accept",
              "value": "text/html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -336
      ],
      "id": "e28a40f8-5414-4ec7-84d5-29d85b249a22",
      "name": "Raw HTML Fetch",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed?category=performance&category=seo&category=best-practices&category=accessibility",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('URL Validator').first().json.url }}"
            },
            {
              "name": "strategy",
              "value": "mobile"
            },
            {
              "name": "category",
              "value": "performance"
            },
            {
              "name": "category",
              "value": "seo"
            },
            {
              "name": "category",
              "value": "best-practices"
            },
            {
              "name": "category",
              "value": "accessibility"
            },
            {
              "name": "locale",
              "value": "de_DE"
            },
            {
              "name": "key",
              "value": "={{ $vars.GOOGLE_PAGESPEED_API_KEY || $env.GOOGLE_PAGESPEED_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        -400
      ],
      "id": "17506824-228a-468d-b13f-b77bc476fd1d",
      "name": "PageSpeed API",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function unwrap(x) {\n  if (!x) return {};\n  if (x.lighthouseResult || x.error) return x;\n  if (x.body && (x.body.lighthouseResult || x.body.error)) return x.body;\n  if (x.data && (x.data.lighthouseResult || x.data.error)) return x.data;\n  if (x.response && (x.response.lighthouseResult || x.response.error)) return x.response;\n  if (x.response?.body && (x.response.body.lighthouseResult || x.response.body.error)) return x.response.body;\n  return x;\n}\n\nconst p = unwrap($input.first().json || {});\nconst needRetry = (!p.lighthouseResult) || !!p.error;\nreturn [{ json: { needRetry } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -400
      ],
      "id": "2e62e945-5f81-4cde-a27b-8d0131f8696e",
      "name": "Check PageSpeed"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needRetry }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        896,
        -400
      ],
      "id": "6ccda909-ccbb-442d-8875-c14ace21402f",
      "name": "IF PageSpeed Retry?"
    },
    {
      "parameters": {
        "amount": 12,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1056,
        -240
      ],
      "id": "86a13e86-facd-4bef-b124-8f4f52711c31",
      "name": "Wait 12s",
      "webhookId": "40e61795-160c-46ab-92da-3637fe766634"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/pagespeedonline/v5/runPagespeed?category=performance&category=seo&category=best-practices&category=accessibility",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('URL Validator').first().json.url }}"
            },
            {
              "name": "strategy",
              "value": "mobile"
            },
            {
              "name": "category",
              "value": "performance"
            },
            {
              "name": "category",
              "value": "seo"
            },
            {
              "name": "category",
              "value": "best-practices"
            },
            {
              "name": "category",
              "value": "accessibility"
            },
            {
              "name": "locale",
              "value": "de_DE"
            },
            {
              "name": "key",
              "value": "={{ $vars.GOOGLE_PAGESPEED_API_KEY || $env.GOOGLE_PAGESPEED_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -240
      ],
      "id": "f8913a0e-1b12-457a-8f44-0cee91e8aba4",
      "name": "PageSpeed API Retry",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// PageSpeed Final — pick best response (try1 vs retry) + unwrap common wrappers\n\nfunction unwrap(x) {\n  if (!x) return {};\n  if (x.lighthouseResult || x.error) return x;\n  if (x.body && (x.body.lighthouseResult || x.body.error)) return x.body;\n  if (x.data && (x.data.lighthouseResult || x.data.error)) return x.data;\n  if (x.response && (x.response.lighthouseResult || x.response.error)) return x.response;\n  if (x.response?.body && (x.response.body.lighthouseResult || x.response.body.error)) return x.response.body;\n  return x;\n}\n\nfunction perfScore(obj) {\n  const s = obj?.lighthouseResult?.categories?.performance?.score;\n  return typeof s === \"number\" ? Math.round(s * 100) : 0;\n}\n\nfunction ok(obj) {\n  return !!obj?.lighthouseResult && !obj?.error;\n}\n\nlet p1 = {};\nlet p2 = {};\ntry { p1 = unwrap($(\"PageSpeed API\").first().json); } catch (e) {}\ntry { p2 = unwrap($(\"PageSpeed API Retry\").first().json); } catch (e) {}\n\nlet chosen = p1;\nif (ok(p2) && (!ok(p1) || perfScore(p2) >= perfScore(p1))) chosen = p2;\nchosen = chosen || {};\n\nchosen._auditMeta = chosen._auditMeta || {};\nchosen._auditMeta.pagespeed = {\n  chosen: ok(chosen) ? (chosen === p2 ? \"retry\" : \"first\") : \"none\",\n  try1_ok: ok(p1),\n  try2_ok: ok(p2),\n  score_try1: perfScore(p1),\n  score_try2: perfScore(p2),\n};\n\nreturn [{ json: chosen }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -400
      ],
      "id": "8cf5f2c2-6214-4c0a-b914-1a1fc51df501",
      "name": "PageSpeed Final"
    },
    {
      "parameters": {
        "url": "={{ $('URL Validator').first().json.url }}/sitemap_index.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        -400
      ],
      "id": "8605b5ad-5cac-4b29-af97-41a9fd71a9b0",
      "name": "Sitemap Fetch",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('URL Validator').first().json.url }}/sitemap.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1616,
        -240
      ],
      "id": "8d197ff5-f570-4c59-8053-2dc39028481f",
      "name": "Sitemap Fetch Fallback",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let a = '';\nlet b = '';\ntry { a = $('Sitemap Fetch').first().json?.data || $('Sitemap Fetch').first().json?.body || ''; } catch(e) {}\ntry { b = $('Sitemap Fetch Fallback').first().json?.data || $('Sitemap Fetch Fallback').first().json?.body || ''; } catch(e) {}\n\na = (typeof a === 'string') ? a : JSON.stringify(a||'');\nb = (typeof b === 'string') ? b : JSON.stringify(b||'');\n\nconst hasLocA = /<loc>[^<]+<\\/loc>/i.test(a);\nconst hasLocB = /<loc>[^<]+<\\/loc>/i.test(b);\n\nlet chosen = hasLocA ? a : (hasLocB ? b : a || b || '');\n\nreturn [{ json: { body: chosen, meta: { ok: !!chosen, used: hasLocA ? 'index' : (hasLocB ? 'fallback' : 'none') } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -400
      ],
      "id": "ff68f5b1-c164-4859-9131-6a02fa52c3a6",
      "name": "Sitemap Final"
    },
    {
      "parameters": {
        "jsCode": "const meta = $('URL Validator').first().json || {};\n\nfunction safeString(value) {\n  if (typeof value === 'string') return value;\n  if (value === null || value === undefined) return '';\n  try { return JSON.stringify(value); } catch (e) { return String(value); }\n}\n\nfunction toTextPayload(payload) {\n  if (!payload) return '';\n  if (typeof payload === 'string') return payload;\n  return safeString(payload.data || payload.body || payload.response?.body || payload.response || '');\n}\n\nfunction hasRequestError(payload) {\n  if (!payload || typeof payload !== 'object') return false;\n  if (payload.error) return true;\n  if (payload.statusCode && Number(payload.statusCode) >= 400) return true;\n  if (payload.status && Number(payload.status) >= 400) return true;\n  return false;\n}\n\nfunction presence(value, whenReliable) {\n  return whenReliable ? !!value : null;\n}\n\nlet mobileScore = 0;\nlet scores = { performance: 0, seo: 0, bestPractices: 0, accessibility: 0, pwa: 0 };\nlet metrics = { LCP: 'n/a', LCP_ms: 0, CLS: 'n/a', CLS_val: 0, TBT: 'n/a', TBT_ms: 0, FCP: 'n/a', TTFB: 'n/a' };\nlet debugMsg = 'OK';\nlet pagespeedOk = false;\n\ntry {\n  const gd = $('PageSpeed Final').first().json || {};\n  if (gd && gd.lighthouseResult) {\n    pagespeedOk = true;\n    const lh = gd.lighthouseResult;\n    const au = lh.audits || {};\n    const cats = lh.categories || {};\n    const to100 = (value) => (typeof value === 'number' ? Math.round(value * 100) : 0);\n    mobileScore = to100(cats.performance && cats.performance.score);\n    scores = {\n      performance: to100(cats.performance && cats.performance.score),\n      seo: to100(cats.seo && cats.seo.score),\n      bestPractices: to100(cats['best-practices'] && cats['best-practices'].score),\n      accessibility: to100(cats.accessibility && cats.accessibility.score),\n      pwa: to100(cats.pwa && cats.pwa.score),\n    };\n    metrics = {\n      LCP: au['largest-contentful-paint'] && au['largest-contentful-paint'].displayValue || 'n/a',\n      LCP_ms: au['largest-contentful-paint'] && au['largest-contentful-paint'].numericValue || 0,\n      CLS: au['cumulative-layout-shift'] && au['cumulative-layout-shift'].displayValue || 'n/a',\n      CLS_val: au['cumulative-layout-shift'] && au['cumulative-layout-shift'].numericValue || 0,\n      TBT: au['total-blocking-time'] && au['total-blocking-time'].displayValue || 'n/a',\n      TBT_ms: au['total-blocking-time'] && au['total-blocking-time'].numericValue || 0,\n      FCP: au['first-contentful-paint'] && au['first-contentful-paint'].displayValue || 'n/a',\n      TTFB: au['server-response-time'] && au['server-response-time'].displayValue || 'n/a'\n    };\n  } else if (gd && gd.error) {\n    debugMsg = 'Google Fehler: ' + (gd.error.message || 'Unbekannt') + ' (Code: ' + (gd.error.code || 'n/a') + ')';\n  } else {\n    debugMsg = 'Google hat leeres Ergebnis geliefert.';\n  }\n} catch (e) {\n  debugMsg = 'Script Fehler: ' + e.message;\n}\n\nlet html = '';\nlet head = '';\nlet rawHtmlOk = false;\nlet rawHtmlStatus = 'unknown';\ntry {\n  const rn = $('Raw HTML Fetch').first().json || {};\n  rawHtmlStatus = String(rn.statusCode || rn.status || 'ok');\n  html = toTextPayload(rn);\n  rawHtmlOk = !hasRequestError(rn) && html.length > 500;\n  const hm = html.match(/<head[^>]*>([\\s\\S]*?)<\\/head>/i);\n  head = hm ? hm[1] : html.substring(0, 8000);\n} catch (e) {\n  rawHtmlStatus = 'exception';\n}\n\nconst titleM = head.match(/<title[^>]*>([^<]{0,200})<\\/title>/i);\nconst title = titleM ? titleM[1].trim() : null;\nconst descM = head.match(/<meta[^>]*name=[\"']description[\"'][^>]*content=[\"']([^\"']{0,300})[\"']/i) || head.match(/<meta[^>]*content=[\"']([^\"']{0,300})[\"'][^>]*name=[\"']description[\"']/i);\nconst metaDesc = descM ? descM[1].trim() : null;\nconst canonical = (head.match(/<link[^>]*rel=[\"']canonical[\"'][^>]*href=[\"']([^\"']+)[\"']/i) || [])[1] || null;\nconst hasOg = /<meta[^>]*property=[\"']og:(title|description|image)[\"']/gi.test(html);\nconst schemaBlocks = [...html.matchAll(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi)];\nconst schemaTypes = [];\nschemaBlocks.forEach((block) => {\n  try {\n    const parsed = JSON.parse(block[1]);\n    if (parsed['@type']) schemaTypes.push(parsed['@type']);\n    if (Array.isArray(parsed['@graph'])) {\n      parsed['@graph'].forEach((item) => {\n        if (item['@type']) schemaTypes.push(item['@type']);\n      });\n    }\n  } catch (e) {}\n});\nconst h1Count = (html.match(/<h1[^>]*>[\\s\\S]*?<\\/h1>/gi) || []).length;\n\nconst hasGa4 = !!html.match(/G-[A-Z0-9]{6,12}/) || /gtag\\s*\\(/i.test(html);\nconst gtmM = html.match(/GTM-[A-Z0-9]{4,10}/);\nconst hasGtm = !!gtmM;\nconst gtmId = gtmM ? gtmM[0] : null;\nconst sgtmH = html.match(/https?:\\/\\/[a-z0-9.-]+\\.[a-z]+\\/gtm\\.js/i);\nconst hasSgtm = sgtmH ? !sgtmH[0].includes('googletagmanager.com') : false;\nconst consentTools = [];\nif (/borlabs/i.test(html)) consentTools.push('Borlabs');\nif (/cookiebot/i.test(html)) consentTools.push('Cookiebot');\nif (/complianz/i.test(html)) consentTools.push('Complianz');\nif (/usercentrics/i.test(html)) consentTools.push('Usercentrics');\nif (/real-cookie-banner/i.test(html)) consentTools.push('Real Cookie Banner');\nconst hasConsent = consentTools.length > 0;\nconst paidPixels = [];\nif (/fbq\\(|connect\\.facebook\\.net/i.test(html)) paidPixels.push('Meta');\nif (/AW-[0-9]+|googleads/i.test(html)) paidPixels.push('Google Ads');\nif (/linkedin\\.com\\/insight/i.test(html)) paidPixels.push('LinkedIn');\n\nconst isWP = /wp-content|wp-includes|wp-json/i.test(html);\nconst wpVer = (html.match(/<meta[^>]*name=[\"']generator[\"'][^>]*content=[\"']WordPress\\s*([\\d.]+)[\"']/i) || [])[1] || null;\nconst isHttps = String(meta.url || '').startsWith('https');\n\nlet sitemapUrls = 0;\nlet blogUrls = 0;\nlet hasSitemap = false;\nlet sitemapOk = false;\nlet sitemapBody = '';\ntry {\n  const smNode = $('Sitemap Final').first().json || {};\n  sitemapBody = safeString(smNode.body || smNode.data || '');\n  if (/<sitemapindex/i.test(sitemapBody)) {\n    const subs = [...sitemapBody.matchAll(/<loc>([^<]+)<\\/loc>/g)].map((match) => match[1]);\n    hasSitemap = subs.length > 0;\n    sitemapUrls = subs.length * 10;\n    blogUrls = subs.filter((url) => /post|blog|artikel|ratgeber/i.test(url)).length;\n  } else {\n    const urls = [...sitemapBody.matchAll(/<loc>([^<]+)<\\/loc>/g)].map((match) => match[1]);\n    hasSitemap = urls.length > 0;\n    sitemapUrls = urls.length;\n    blogUrls = urls.filter((url) => /blog|artikel|beitrag|post|ratgeber/i.test(url)).length;\n  }\n  sitemapOk = hasSitemap;\n} catch (e) {}\nif (!hasSitemap) {\n  if (/<link[^>]*rel=[\"']sitemap[\"']/i.test(html) || /sitemap_index\\.xml|sitemap\\.xml|wp-sitemap/i.test(html)) {\n    hasSitemap = true;\n    sitemapUrls = 10;\n    sitemapOk = true;\n  } else if (isWP) {\n    hasSitemap = true;\n    sitemapUrls = 5;\n  }\n}\n\nlet jinaText = '';\nlet readerOk = false;\ntry {\n  const jn = $('Jina Reader').first().json || {};\n  jinaText = toTextPayload(jn);\n  const readerWordCount = jinaText.split(/\\s+/).filter(Boolean).length;\n  readerOk = !hasRequestError(jn) && readerWordCount > 120;\n} catch (e) {}\n\nconst jLow = jinaText.toLowerCase();\nconst wordCount = jinaText.split(/\\s+/).filter(Boolean).length;\nconst contentReliable = rawHtmlOk || readerOk;\n\nconst hasImpressum = presence(/impressum/i.test(jinaText) || /impressum/i.test(html), contentReliable);\nconst hasDatenschutz = presence(/datenschutz|privacy/i.test(jinaText) || /datenschutz/i.test(html), contentReliable);\nconst hasBlog = blogUrls > 0 ? true : presence(/blog/i.test(jinaText) || /blog|artikel|magazin|ratgeber/i.test(html), contentReliable);\nconst hasCases = presence(/case.?stud|referenz|fallstud|projekt|erfolgsgeschichte|portfolio|kundenprojekt/i.test(jLow) || /case|referenz|portfolio/i.test(html), contentReliable);\nconst hasTestimonials = presence(/testimonial|kundenstimm|bewertung|rezension|\\d+\\s*sterne|google.*review|trustpilot|ausgezeichnet|empfehl|zufried|feedback/i.test(jLow), contentReliable);\nconst hasLeadMagnet = presence(/lead.?magnet|download|whitepaper|e-?book|checkliste|gratis|kostenlos.*(guide|download|pdf|audit|analyse|check)|freebie|newsletter|kostenloses?.*(gespr|berat|analys|check|call)|jetzt.*anfrag|jetzt.*starten/i.test(jLow), contentReliable);\nconst hasContactForm = presence(/kontakt|contact|formular|anfrage|nachricht.*senden/i.test(jLow), contentReliable);\nconst hasPhone = presence(/\\+?\\d{2,4}[\\s.-]?\\d{3,}[\\s.-]?\\d{3,}/g.test(jinaText), contentReliable);\n\nreturn [{ json: {\n  url: meta.url,\n  domain: meta.domain,\n  speed: { mobileScore, metrics, scores },\n  debug_error: debugMsg,\n  seo: { title, metaDesc, canonical, hasOg, schemaTypes, h1Count, hasSitemap, sitemapUrls },\n  tracking: { hasGa4, hasGtm, gtmId, hasSgtm, hasConsent, consentTools, paidPixels },\n  security: { isWP, wpVer, isHttps, hasImpressum, hasDatenschutz },\n  content: { hasBlog, blogUrls, hasCases, hasTestimonials, hasLeadMagnet, hasContactForm, hasPhone, wordCount },\n  sourceHealth: {\n    pagespeedOk,\n    rawHtmlOk,\n    rawHtmlStatus,\n    rawHtmlLength: html.length,\n    readerOk,\n    readerWordCount: wordCount,\n    sitemapOk,\n    contentReliable\n  },\n  jinaText: jinaText.substring(0, 3000)\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -400
      ],
      "id": "3314c901-cf84-4357-9bd4-994c92d685ab",
      "name": "Analyze Site"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du bist ein SEO-Experte der Keywords mit kommerziellem Intent identifiziert.\n\nAnalysiere die Website und generiere 6 Suchbegriffe die ein ZAHLENDER Kunde bei Google eingeben wuerde — nicht jemand der sich informieren will, sondern jemand der KAUFEN oder BEAUFTRAGEN will.\n\nRegeln:\n1. Erkenne: Branche, Kerndienstleistungen, Stadt/Region\n2. NUR deutsche Keywords\n3. Mix: 2x [Dienstleistung + Stadt] (z.B. \"webdesign agentur hannover\"), 2x [Dienstleistung + Kaufintent] (z.B. \"website erstellen lassen kosten\"), 2x [Problem mit Loesungsintent] (z.B. \"wordpress seite zu langsam was tun\")\n4. Suchvolumen: Schaetze KONSERVATIV und realistisch. Lokale Keywords (mit Stadt): 100-600. Allgemeine: 300-2000. Nischen-Longtail: 50-300. NICHT uebertreiben.\n5. Kundenwert: Schaetze den durchschnittlichen Auftragswert fuer EINEN Neukunden in dieser Branche. Webdesign: 3000-8000. Beratung: 1500-5000. E-Commerce: 5000-15000.\n\nAntworte NUR mit JSON — kein anderer Text, keine Backticks:\n{\"branche\": \"...\", \"standort\": \"...\", \"kundenwert_eur\": 3000, \"keywords\": [{\"q\": \"webdesign agentur hannover\", \"vol\": 400}, ...]}"
            },
            {
              "content": "=Website: {{ $json.domain }}\nDienstleistungen und Inhalte:\n{{ $json.jinaText }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2256,
        -400
      ],
      "id": "5b05e05a-42ed-4099-ad38-2d11dcf9855c",
      "name": "Keyword Generator",
      "credentials": {
        "openAiApi": {
          "id": "__SET_IN_N8N__",
          "name": "OPENAI_AUDIT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Read GPT output\nconst j = $('Keyword Generator').first().json;\nlet raw = '';\nif (j?.output?.[0]?.content?.[0]?.text) raw = j.output[0].content[0].text;\nelse if (j?.content?.[0]?.text) raw = j.content[0].text;\nelse if (typeof j?.message?.content === 'string') raw = j.message.content;\nelse if (typeof j?.text === 'string') raw = j.text;\nelse raw = JSON.stringify(j);\n\n// Clean and parse JSON\nraw = raw.replace(/```json|```/g, '').trim();\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch(e) {\n  // Fallback: extract JSON from text\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) parsed = JSON.parse(m[0]);\n  else parsed = { branche: 'Unbekannt', standort: '', kundenwert_eur: 3000, keywords: [{ q: 'dienstleistung', vol: 300 }] };\n}\n\nconst site = $('Analyze Site').first().json;\nconst kws = parsed.keywords || [];\n\n// Output one item per keyword for SERP check\nconst items = kws.slice(0, 6).map(kw => ({\n  json: {\n    keyword: kw.q,\n    volume: kw.vol || 300,\n    domain: site.domain,\n    branche: parsed.branche || '',\n    standort: parsed.standort || '',\n    kundenwert: parsed.kundenwert_eur || 3000\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        -400
      ],
      "id": "45c2b18b-5e0d-44dd-b4f3-6c7a5f6242be",
      "name": "Extract Keywords"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $vars.GOOGLE_CSE_KEY || $env.GOOGLE_CSE_KEY }}"
            },
            {
              "name": "cx",
              "value": "={{ $vars.GOOGLE_CSE_CX || $env.GOOGLE_CSE_CX || '0063ebe7a8a39425d' }}"
            },
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "gl",
              "value": "de"
            },
            {
              "name": "hl",
              "value": "de"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2736,
        -400
      ],
      "id": "34288a61-aa48-4497-8383-a7cfdf560afd",
      "name": "SERP Check",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const serpItems = $input.all();\nconst site = $('Analyze Site').first().json || {};\nconst kwItems = $('Extract Keywords').all();\nconst sourceHealth = site.sourceHealth || {};\nconst contentReliable = !!sourceHealth.contentReliable;\n\nconst kwData = kwItems[0] && kwItems[0].json ? kwItems[0].json : {};\nconst branche = kwData.branche || 'Dienstleister';\nconst standort = kwData.standort || '';\nconst kundenwert = kwData.kundenwert || 3000;\n\nfunction hasSerpItems(payload) {\n  return !!(payload && Array.isArray(payload.items) && payload.items.length);\n}\n\nfunction hasSerpError(payload) {\n  return !!(payload && (payload.error || (payload.statusCode && Number(payload.statusCode) >= 400) || (payload.status && Number(payload.status) >= 400)));\n}\n\nfunction detailValue(value, positive, negative) {\n  if (value === null || value === undefined) return 'Nicht sicher beurteilbar';\n  return value ? positive : negative;\n}\n\nfunction detailStatus(value, negativeStatus) {\n  if (value === null || value === undefined) return 'warning';\n  return value ? 'good' : (negativeStatus || 'bad');\n}\n\nfunction yesNoUnknown(value) {\n  if (value === null || value === undefined) return 'Unklar';\n  return value ? 'Ja' : 'Nein';\n}\n\nconst hasAnySerpData = serpItems.some((item) => hasSerpItems(item.json));\n\nconst serpResults = [];\nlet totalLostTraffic = 0;\n\nfor (let i = 0; i < serpItems.length; i++) {\n  const serp = serpItems[i] && serpItems[i].json ? serpItems[i].json : {};\n  const kw = kwItems[i] && kwItems[i].json ? kwItems[i].json : {};\n  const keyword = kw.keyword || 'unbekannt';\n  const volume = kw.volume || 300;\n  const domain = (kw.domain || site.domain || '').toLowerCase();\n  const items = Array.isArray(serp.items) ? serp.items : [];\n  let position = -1;\n  const competitors = [];\n\n  for (let r = 0; r < items.length; r++) {\n    const link = String(items[r] && items[r].link || '').toLowerCase();\n    const displayLink = String(items[r] && items[r].displayLink || '').toLowerCase();\n    if ((link && domain && link.includes(domain)) || (displayLink && domain && displayLink.includes(domain))) {\n      position = r + 1;\n    } else if (competitors.length < 3) {\n      competitors.push({\n        name: items[r] && items[r].displayLink || '',\n        title: items[r] && items[r].title || ''\n      });\n    }\n  }\n\n  let status = 'unknown';\n  let lostTraffic = 0;\n\n  if (items.length > 0) {\n    if (position === -1) {\n      status = 'not_found';\n      lostTraffic = Math.round(volume * 0.03);\n    } else if (position <= 3) {\n      status = 'top3';\n    } else if (position <= 10) {\n      status = 'page1';\n      lostTraffic = Math.round(volume * 0.015);\n    } else {\n      status = 'low';\n      lostTraffic = Math.round(volume * 0.015);\n    }\n  } else if (!hasAnySerpData || hasSerpError(serp)) {\n    status = 'unknown';\n  } else {\n    status = 'not_found';\n    lostTraffic = Math.round(volume * 0.03);\n  }\n\n  totalLostTraffic += lostTraffic;\n  serpResults.push({\n    keyword,\n    volume,\n    position,\n    lostTraffic,\n    competitors: competitors.slice(0, 2),\n    status,\n    dataReliable: status !== 'unknown'\n  });\n}\n\nconst reliableSerpCount = serpResults.filter((item) => item.dataReliable).length;\nconst serpReliable = reliableSerpCount > 0;\nconst partialSerp = serpReliable && reliableSerpCount < serpResults.length;\nconst notRanking = serpResults.filter((item) => item.status === 'not_found');\n\nconst conversionRate = serpReliable ? 0.02 : 0;\nconst lostLeadsMonth = Math.round(totalLostTraffic * conversionRate * 10) / 10;\nconst lostRevenueMonth = Math.round(lostLeadsMonth * kundenwert);\nconst lostRevenueYear = lostRevenueMonth * 12;\n\nconst s = site;\nconst steps = [];\n\nsteps.push({\n  nr: 1,\n  title: 'Ihr Kunde sucht bei Google',\n  icon: '\\uD83D\\uDD0D',\n  results: serpResults,\n  summary: !serpReliable\n    ? 'Die Google-Ergebnisse konnten heute nicht belastbar gelesen werden. Sichtbarkeitsaussagen sind nur eingeschraenkt moeglich.'\n    : partialSerp\n      ? 'Ein Teil der Google-Daten ist belastbar, ein Teil nicht. Die Sichtbarkeit sollte mit echten Search-Daten gegengeprueft werden.'\n      : notRanking.length + ' von ' + serpResults.length + ' Keywords: nicht auf Seite 1',\n  status: !serpReliable ? 'warning' : notRanking.length === 0 ? 'good' : notRanking.length <= 2 ? 'warning' : 'bad'\n});\n\nconst loadTime = s.speed && s.speed.metrics ? s.speed.metrics.LCP : 'n/a';\nconst loadMs = s.speed && s.speed.metrics ? s.speed.metrics.LCP_ms || 0 : 0;\nsteps.push({\n  nr: 2,\n  title: 'Ein Besucher landet auf Ihrer Seite',\n  icon: '\\u26A1',\n  details: [\n    { label: 'Ladezeit (LCP)', value: loadTime || 'n/a', status: loadMs < 2500 ? 'good' : loadMs < 4000 ? 'warning' : 'bad' },\n    { label: 'Mobile Score', value: (s.speed && s.speed.mobileScore || 0) + '/100', status: (s.speed && s.speed.mobileScore || 0) >= 90 ? 'good' : (s.speed && s.speed.mobileScore || 0) >= 50 ? 'warning' : 'bad' },\n    { label: 'SEO Score', value: ((s.speed && s.speed.scores && s.speed.scores.seo) || 0) + '/100', status: ((s.speed && s.speed.scores && s.speed.scores.seo) || 0) >= 90 ? 'good' : ((s.speed && s.speed.scores && s.speed.scores.seo) || 0) >= 70 ? 'warning' : 'bad' },\n    { label: 'Best Practices', value: ((s.speed && s.speed.scores && s.speed.scores.bestPractices) || 0) + '/100', status: ((s.speed && s.speed.scores && s.speed.scores.bestPractices) || 0) >= 90 ? 'good' : ((s.speed && s.speed.scores && s.speed.scores.bestPractices) || 0) >= 70 ? 'warning' : 'bad' },\n    { label: 'Accessibility', value: ((s.speed && s.speed.scores && s.speed.scores.accessibility) || 0) + '/100', status: ((s.speed && s.speed.scores && s.speed.scores.accessibility) || 0) >= 90 ? 'good' : ((s.speed && s.speed.scores && s.speed.scores.accessibility) || 0) >= 70 ? 'warning' : 'bad' },\n    { label: 'Layout-Stabilitaet (CLS)', value: s.speed && s.speed.metrics ? s.speed.metrics.CLS : 'n/a', status: s.speed && s.speed.metrics && s.speed.metrics.CLS_val < 0.1 ? 'good' : 'warning' }\n  ],\n  summary: (s.speed && s.speed.mobileScore || 0) >= 90 ? 'Sehr starke mobile Basis. Der erste Eindruck bremst hier nicht.' : (s.speed && s.speed.mobileScore || 0) >= 50 ? 'Die Seite ist nutzbar, aber nicht schnell genug fuer einen starken ersten Eindruck.' : 'Die Seite ist mobil zu langsam. Das kostet Aufmerksamkeit, noch bevor Vertrauen entstehen kann.',\n  status: (s.speed && s.speed.mobileScore || 0) >= 90 ? 'good' : (s.speed && s.speed.mobileScore || 0) >= 50 ? 'warning' : 'bad'\n});\n\nsteps.push({\n  nr: 3,\n  title: 'Der Besucher sucht einen Grund zu vertrauen',\n  icon: '\\uD83E\\uDD1D',\n  details: [\n    { label: 'Referenzen / Cases', value: detailValue(s.content && s.content.hasCases, 'Vorhanden', 'Nicht gefunden'), status: detailStatus(s.content && s.content.hasCases, 'bad') },\n    { label: 'Kundenstimmen / Testimonials', value: detailValue(s.content && s.content.hasTestimonials, 'Vorhanden', 'Nicht gefunden'), status: detailStatus(s.content && s.content.hasTestimonials, 'bad') },\n    { label: 'SSL / HTTPS', value: s.security && s.security.isHttps ? 'Aktiv' : 'Fehlt', status: s.security && s.security.isHttps ? 'good' : 'bad' },\n    { label: 'Impressum', value: detailValue(s.security && s.security.hasImpressum, 'Vorhanden', 'Nicht gefunden'), status: detailStatus(s.security && s.security.hasImpressum, 'bad') }\n  ],\n  summary: !contentReliable\n    ? 'Die Seite konnte inhaltlich nur eingeschraenkt gelesen werden. Proof- und Trust-Signale sind deshalb heute nicht voll belastbar.'\n    : (s.content && s.content.hasCases && s.content.hasTestimonials)\n      ? 'Starker Social Proof. Der Besucher findet mehrere Gruende, Vertrauen aufzubauen.'\n      : s.content && s.content.hasCases\n        ? 'Cases sind da, aber das Vertrauen bleibt ohne zusaetzliche Stimmen oder Proof lueckenhaft.'\n        : 'Es fehlen klare Vertrauenssignale. Genau hier verlieren viele Seiten den Interessenten an den sichtbareren Anbieter.',\n  status: !contentReliable ? 'warning' : (s.content && s.content.hasCases && s.content.hasTestimonials) ? 'good' : (s.content && (s.content.hasCases || s.content.hasTestimonials)) ? 'warning' : 'bad'\n});\n\nsteps.push({\n  nr: 4,\n  title: 'Der Besucher will den naechsten Schritt machen',\n  icon: '\\uD83C\\uDFAF',\n  details: [\n    { label: 'Kontaktformular', value: detailValue(s.content && s.content.hasContactForm, 'Vorhanden', 'Nicht gefunden'), status: detailStatus(s.content && s.content.hasContactForm, 'bad') },\n    { label: 'Telefonnummer sichtbar', value: detailValue(s.content && s.content.hasPhone, 'Ja', 'Nicht gefunden'), status: detailStatus(s.content && s.content.hasPhone, 'warning') },\n    { label: 'Lead-Magnet (Guide, Checkliste)', value: detailValue(s.content && s.content.hasLeadMagnet, 'Vorhanden', 'Nicht gefunden'), status: detailStatus(s.content && s.content.hasLeadMagnet, 'bad') },\n    { label: 'Blog / Content Hub', value: detailValue(s.content && s.content.hasBlog, 'Vorhanden', 'Nicht gefunden'), status: detailStatus(s.content && s.content.hasBlog, 'warning') }\n  ],\n  summary: !contentReliable\n    ? 'Der Conversion-Pfad ist heute nur teilweise beurteilbar, weil die Seite nicht vollstaendig gelesen werden konnte.'\n    : s.content && s.content.hasLeadMagnet\n      ? 'Es gibt bereits einen sauberen naechsten Schritt. Jetzt geht es eher um Priorisierung als um Grundstruktur.'\n      : s.content && s.content.hasContactForm\n        ? 'Kontakt ist moeglich, aber der naechste Schritt ist noch nicht klar genug gefuehrt.'\n        : 'Es fehlt ein sauberer naechster Schritt. Aufmerksamkeit versickert, bevor eine Anfrage entsteht.',\n  status: !contentReliable ? 'warning' : s.content && s.content.hasLeadMagnet ? 'good' : s.content && s.content.hasContactForm ? 'warning' : 'bad'\n});\n\nlet serpSummary = '';\nserpResults.forEach((item) => {\n  const icon = item.status === 'unknown' ? 'NICHT BELASTBAR' : item.status === 'not_found' ? 'NICHT GEFUNDEN' : item.status === 'top3' ? 'TOP 3' : 'Position ' + item.position;\n  serpSummary += '- \"' + item.keyword + '\" (~' + item.volume + '/Monat): ' + icon;\n  if (item.competitors.length > 0 && item.status === 'not_found') {\n    serpSummary += ' | Stattdessen: ' + item.competitors.map((entry) => entry.name).join(', ');\n  }\n  serpSummary += '\\n';\n});\n\nconst storyPrompt = 'Website: ' + s.domain + ' | Branche: ' + branche + ' | Standort: ' + standort + '\\n\\nDATENQUALITAET: SERP=' + (serpReliable ? (partialSerp ? 'teilweise' : 'belastbar') : 'eingeschraenkt') + ', Content=' + (contentReliable ? 'belastbar' : 'eingeschraenkt') + ', PageSpeed=' + ((sourceHealth && sourceHealth.pagespeedOk) ? 'belastbar' : 'eingeschraenkt') + '\\n\\nGOOGLE-SICHTBARKEIT:\\n' + serpSummary + '\\nPERFORMANCE: Mobile ' + (s.speed && s.speed.mobileScore || 0) + '/100, LCP ' + (s.speed && s.speed.metrics && s.speed.metrics.LCP || 'n/a') + '\\nTRUST: Cases=' + yesNoUnknown(s.content && s.content.hasCases) + ', Testimonials=' + yesNoUnknown(s.content && s.content.hasTestimonials) + '\\nLEAD-CAPTURE: LeadMagnet=' + yesNoUnknown(s.content && s.content.hasLeadMagnet) + ', Blog=' + yesNoUnknown(s.content && s.content.hasBlog) + ', Kontaktformular=' + yesNoUnknown(s.content && s.content.hasContactForm) + '\\nTRACKING: GTM=' + (s.tracking && s.tracking.hasGtm ? s.tracking.gtmId : 'Nein') + ', Consent=' + ((s.tracking && s.tracking.consentTools || []).join('+') || 'keine Angabe') + ', Paid=' + ((s.tracking && s.tracking.paidPixels || []).length > 0 ? s.tracking.paidPixels.join('+') : 'keine') + '\\n\\nREVENUE GAP: ~' + totalLostTraffic + ' verlorene Besucher/Monat, ~' + lostLeadsMonth + ' verlorene Leads/Monat, ~' + lostRevenueMonth + ' EUR/Monat (~' + lostRevenueYear + ' EUR/Jahr)';\n\nreturn [{ json: {\n  story_prompt: storyPrompt,\n  steps,\n  serpResults,\n  revenue: { totalLostTraffic, lostLeadsMonth, lostRevenueMonth, lostRevenueYear, kundenwert, conversionRate: serpReliable ? '2%' : 'nicht belastbar' },\n  branche,\n  standort,\n  kundenwert,\n  url: s.url,\n  domain: s.domain,\n  sourceHealth: Object.assign({}, sourceHealth, { serpReliable, partialSerp, reliableSerpCount }),\n  site: s\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        -400
      ],
      "id": "97e0867b-94e5-41ab-a525-526f6c89c159",
      "name": "Build Journey"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Du schreibst wie ein Berater der 500 EUR pro Stunde nimmt. Kein Wort ist umsonst. Jeder Satz erzeugt entweder Erkenntnis oder Handlungsdruck.\n\nDu bekommst Daten aus einer Customer-Journey-Simulation. Der Empfaenger hat die Journey-Schritte bereits gesehen. Dein Text ergaenzt — NICHT wiederholen.\n\nSchreibe GENAU 3 Absaetze (MAXIMAL 180 Woerter total):\n\nABSATZ 1 — DAS MUSTER (3 Saetze max):\nVerbinde die Schwaechen zu EINEM klaren Bild. Benutze eine praegnante Metapher die haengenbleibt. Nicht beschreiben was fehlt — sondern was PASSIERT weil es fehlt. Schlecht: \"Ihnen fehlt Content und Testimonials.\" Gut: \"Ihre Website ist ein Schaufenster in einer Seitenstrasse — schoen dekoriert, aber niemand laeuft vorbei.\"\n\nABSATZ 2 — WAS DAS KOSTET (2-3 Saetze):\nNimm die Revenue-Gap-Zahl und mach sie greifbar. Nicht \"9.000 EUR pro Monat entgehen Ihnen\" sondern: \"9.000 EUR pro Monat — das ist ein Vollzeit-Mitarbeiter, der jeden Monat Kunden bringt, den Sie aber nie eingestellt haben.\" Oder: \"In 12 Monaten sind das 108.000 EUR. Genug fuer 3 Entwickler oder 36 Monate Werbebudget.\"\n\nABSATZ 3 — DER NAECHSTE SCHRITT (2 Saetze):\nEine spezifische Frage die nur mit echten Daten beantwortet werden kann. Nicht generisch. Spezifisch fuer DIESE Website, DIESE Branche, DIESEN Standort.\n\nVERBOTEN: Woerter wie \"grundsaetzlich\", \"durchaus\", \"zweifellos\", \"erheblich\", \"signifikant\", \"massgeblich\". Keine Relativierungen. Keine Konjunktive. Keine Aufzaehlungen. Kein Markdown. Max 180 Woerter."
            },
            {
              "content": "={{ $json.story_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        3216,
        -400
      ],
      "id": "a4a23e8f-e591-475c-8c35-3c00bdc4b287",
      "name": "Write Story",
      "credentials": {
        "openAiApi": {
          "id": "__SET_IN_N8N__",
          "name": "OPENAI_AUDIT"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Build Journey').first().json || {};\nconst site = d.site || {};\nconst serp = Array.isArray(d.serpResults) ? d.serpResults : [];\nconst rev = d.revenue || {};\nconst sourceHealth = d.sourceHealth || site.sourceHealth || {};\n\nconst sj = $('Write Story').first().json || {};\nlet story = '';\nif (sj && sj.output && sj.output[0] && sj.output[0].content && sj.output[0].content[0] && sj.output[0].content[0].text) story = sj.output[0].content[0].text;\nelse if (sj && sj.content && sj.content[0] && sj.content[0].text) story = sj.content[0].text;\nelse if (sj && sj.message && typeof sj.message.content === 'string') story = sj.message.content;\nelse if (sj && typeof sj.text === 'string') story = sj.text;\nstory = String(story || '').replace(/\\*\\*/g, '').replace(/#+\\s/g, '').trim();\n\nfunction statusTone(value) {\n  return value === 'good' ? 'good' : value === 'bad' ? 'bad' : 'warning';\n}\n\nfunction boolLabel(value, positive, negative) {\n  if (value === null || value === undefined) return 'nicht sicher beurteilbar';\n  return value ? positive : negative;\n}\n\nfunction boolStatus(value, negativeStatus) {\n  if (value === null || value === undefined) return 'warning';\n  return value ? 'good' : (negativeStatus || 'bad');\n}\n\nfunction roundToHundred(value) {\n  return Math.max(0, Math.round(value / 100) * 100);\n}\n\nconst mobileScore = Number(site.speed && site.speed.mobileScore || 0);\nconst lcp = site.speed && site.speed.metrics ? site.speed.metrics.LCP || 'n/a' : 'n/a';\nconst lcpMs = Number(site.speed && site.speed.metrics && site.speed.metrics.LCP_ms || 0);\nconst serpReliable = !!sourceHealth.serpReliable;\nconst partialSerp = !!sourceHealth.partialSerp;\nconst contentReliable = !!sourceHealth.contentReliable;\nconst pagespeedReliable = !!sourceHealth.pagespeedOk;\n\nconst visibleKeywords = serp.filter((item) => item.status && item.status !== 'not_found' && item.status !== 'unknown').length;\nconst missingKeywords = serp.filter((item) => item.status === 'not_found');\nconst unknownKeywords = serp.filter((item) => item.status === 'unknown').length;\nconst totalKeywords = serp.length || 6;\nconst topMissing = missingKeywords[0] || null;\n\nconst hasCases = site.content ? site.content.hasCases : null;\nconst hasTestimonials = site.content ? site.content.hasTestimonials : null;\nconst hasContactForm = site.content ? site.content.hasContactForm : null;\nconst hasLeadMagnet = site.content ? site.content.hasLeadMagnet : null;\nconst hasPhone = site.content ? site.content.hasPhone : null;\nconst hasBlog = site.content ? site.content.hasBlog : null;\nconst hasProof = hasCases === true || hasTestimonials === true;\nconst hasNextStep = hasLeadMagnet === true || hasContactForm === true;\n\nlet dataQuality = 'niedrig';\nlet dataQualityTone = 'bad';\nif (pagespeedReliable && serpReliable && contentReliable && !partialSerp) {\n  dataQuality = 'hoch';\n  dataQualityTone = 'good';\n} else if (pagespeedReliable || serpReliable || contentReliable) {\n  dataQuality = partialSerp || !contentReliable ? 'mittel' : 'solide';\n  dataQualityTone = 'warning';\n}\n\nlet verdictStatus = 'warning';\nlet verdictBadge = 'Priorisierung noetig';\nlet verdictHeadline = 'Bei ' + (d.domain || 'dieser Website') + ' bremst vor allem der Anfrageweg.';\nlet verdictSubline = 'Die Analyse zeigt, welche Stellen zuerst priorisiert werden sollten.';\n\nif (!serpReliable && !contentReliable && !pagespeedReliable) {\n  verdictBadge = 'Datenbasis eingeschraenkt';\n  verdictHeadline = 'Die Website konnte heute nur teilweise ausgelesen werden.';\n  verdictSubline = 'Der Audit hat technische Basisdaten, aber Markt- und Content-Signale sollten im Gespraech gegen echte Quellen geprueft werden.';\n} else if (!serpReliable || !contentReliable || partialSerp) {\n  verdictBadge = 'Teilweise belastbar';\n  verdictHeadline = 'Die Analyse liefert verwertbare Signale, aber nicht jede Aussage ist heute voll belastbar.';\n  verdictSubline = 'Technikdaten sind vorhanden. Sichtbarkeit und Content-Signale sollten mit echten Search- und Seitendaten priorisiert werden.';\n} else if (visibleKeywords === 0 || mobileScore < 55 || (!hasProof && !hasNextStep)) {\n  verdictStatus = 'bad';\n  verdictBadge = 'Akute Bremsen';\n  verdictHeadline = 'Bei ' + (d.domain || 'dieser Website') + ' bremsen vor allem Sichtbarkeit, erster Eindruck und der naechste Schritt.';\n  verdictSubline = 'Die Seite zieht zu wenig kaufnahe Nachfrage an und fuehrt vorhandene Aufmerksamkeit nicht sauber in Vertrauen und Anfrage.';\n} else if (missingKeywords.length > 0 || !hasProof || !hasNextStep || mobileScore < 80) {\n  verdictStatus = 'warning';\n  verdictBadge = 'Priorisierung noetig';\n  verdictHeadline = 'Bei ' + (d.domain || 'dieser Website') + ' ist die Basis da, aber mehrere Hebel arbeiten noch nicht zusammen.';\n  verdictSubline = 'Die groeßten Verluste entstehen dort, wo Sichtbarkeit, Proof und der naechste Schritt nicht sauber ineinandergreifen.';\n} else {\n  verdictStatus = 'good';\n  verdictBadge = 'Starke Basis';\n  verdictHeadline = 'Die Website hat bereits eine solide Basis. Das groesste Potenzial liegt jetzt in der sauberen Priorisierung.';\n  verdictSubline = 'Die Hebel sind vorhanden. Jetzt geht es darum, die naechste Wachstumsstufe ohne Aktionismus zu waehlen.';\n}\n\nconst visibilityFinding = {\n  impact: 'Hebel #1',\n  toneLabel: statusTone(!serpReliable ? 'warning' : visibleKeywords === 0 ? 'bad' : missingKeywords.length > 1 ? 'warning' : 'good'),\n  status: !serpReliable ? 'warning' : visibleKeywords === 0 ? 'bad' : missingKeywords.length > 1 ? 'warning' : 'good',\n  title: 'Kaufnahe Sichtbarkeit',\n  summary: !serpReliable\n    ? 'Die Google-Daten waren heute nur eingeschraenkt belastbar. Der Audit kann Richtung zeigen, aber keine harte Marktaussage garantieren.'\n    : visibleKeywords === 0\n      ? 'Im geprueften Keyword-Set ist aktuell keine belastbare Seite-1-Sichtbarkeit erkennbar. Dadurch startet der Anfrageweg schon vor dem ersten Klick im Nachteil.'\n      : missingKeywords.length > 0\n        ? 'Ein Teil der kaufnahen Sichtbarkeit fehlt noch. Genau dort liegt der schnellste Hebel fuer mehr qualifizierte Nachfrage.'\n        : 'Im geprueften Set ist Sichtbarkeit vorhanden. Der groessere Hebel liegt damit eher nach dem Klick.',\n  evidence: !serpReliable\n    ? ['Google-Ergebnisse konnten nicht fuer alle Keywords stabil gelesen werden.', 'Markt-Aussagen deshalb nur als Orientierung werten.']\n    : [\n        'Sichtbar bei ' + visibleKeywords + ' von ' + totalKeywords + ' geprueften Keywords.',\n        topMissing ? 'Groesster Sichtbarkeitsverlust: ' + topMissing.keyword : 'Kein dominanter Ausfall im geprueften Keyword-Set.',\n        partialSerp ? 'Ein Teil der Keyword-Daten ist nur teilweise belastbar.' : 'Keyword-Pruefung ist fuer das gepruefte Set belastbar.'\n      ].filter(Boolean),\n  action: !serpReliable ? 'Priorisierung mit echten Search-Daten und URL-Mapping absichern.' : visibleKeywords === 0 ? 'Zuerst die kaufnahe Einstiegsseite und ihr Keyword-Set sauber aufbauen.' : 'Die fehlenden Keywords und Zielseiten priorisieren statt neue Inhalte ins Blaue zu produzieren.'\n};\n\nconst performanceFinding = {\n  impact: 'Hebel #2',\n  toneLabel: statusTone(!pagespeedReliable ? 'warning' : mobileScore >= 85 ? 'good' : mobileScore >= 60 ? 'warning' : 'bad'),\n  status: !pagespeedReliable ? 'warning' : mobileScore >= 85 ? 'good' : mobileScore >= 60 ? 'warning' : 'bad',\n  title: 'Erster Eindruck auf Mobilgeraeten',\n  summary: !pagespeedReliable\n    ? 'PageSpeed konnte heute nicht belastbar geladen werden. Die technische Aussage ist deshalb nur eingeschraenkt moeglich.'\n    : mobileScore >= 85\n      ? 'Die technische Basis ist stark. Performance ist hier kein Hauptengpass.'\n      : mobileScore >= 60\n        ? 'Die Seite ist nutzbar, aber nicht schnell genug fuer einen wirklich starken ersten Eindruck.'\n        : 'Die mobile Performance bremst schon im ersten Kontakt. Bevor Vertrauen entsteht, ist bereits Reibung da.',\n  evidence: [\n    'Mobile Score: ' + mobileScore + '/100',\n    'Largest Contentful Paint: ' + lcp,\n    'Total Blocking Time: ' + (site.speed && site.speed.metrics ? site.speed.metrics.TBT || 'n/a' : 'n/a')\n  ],\n  action: mobileScore >= 85 ? 'Performance nur gezielt nachziehen, nicht als Hauptprojekt aufblasen.' : 'Den ersten sichtbaren Eindruck, LCP und Skriptlast vor allen kosmetischen Themen priorisieren.'\n};\n\nconst trustFinding = {\n  impact: 'Hebel #3',\n  toneLabel: statusTone(!contentReliable ? 'warning' : (hasProof && hasNextStep) ? 'good' : hasProof || hasNextStep ? 'warning' : 'bad'),\n  status: !contentReliable ? 'warning' : (hasProof && hasNextStep) ? 'good' : hasProof || hasNextStep ? 'warning' : 'bad',\n  title: 'Vertrauen und naechster Schritt',\n  summary: !contentReliable\n    ? 'Die Seite konnte inhaltlich nur teilweise gelesen werden. Proof- und Conversion-Signale sind deshalb heute nicht voll belastbar.'\n    : (hasProof && hasNextStep)\n      ? 'Es gibt bereits Vertrauen und einen naechsten Schritt. Hier geht es eher um Schaerfung als um Neubau.'\n      : hasProof\n        ? 'Proof ist erkennbar, aber der naechste Schritt ist noch nicht sauber genug gefuehrt.'\n        : hasNextStep\n          ? 'Ein naechster Schritt ist da, aber ohne starken Proof fehlt der Grund, ihn auch wirklich zu gehen.'\n          : 'Weder Vertrauen noch ein sauber gefuehrter naechster Schritt sind klar genug erkennbar. Genau dort versickert Nachfrage.',\n  evidence: [\n    'Cases: ' + boolLabel(hasCases, 'vorhanden', 'nicht gefunden'),\n    'Testimonials: ' + boolLabel(hasTestimonials, 'vorhanden', 'nicht gefunden'),\n    'Kontaktformular: ' + boolLabel(hasContactForm, 'vorhanden', 'nicht gefunden'),\n    'Lead-Capture: ' + boolLabel(hasLeadMagnet, 'vorhanden', 'nicht gefunden')\n  ],\n  action: !contentReliable ? 'Live gemeinsam pruefen, welche Proof- und CTA-Elemente wirklich auf der Seite vorhanden sind.' : 'Proof und naechsten Schritt auf derselben Seite zusammenziehen, statt beides auf mehrere Wege zu verteilen.'\n};\n\nconst monthBase = Number(rev.lostRevenueMonth || 0);\nconst opportunity = monthBase > 0 ? {\n  rangeMonth: {\n    min: roundToHundred(monthBase * 0.7),\n    max: roundToHundred(monthBase * 1.3)\n  },\n  rangeYear: {\n    min: roundToHundred(monthBase * 0.7 * 12),\n    max: roundToHundred(monthBase * 1.3 * 12)\n  },\n  basis: {\n    visibleKeywords: serpReliable ? visibleKeywords + ' / ' + totalKeywords : 'eingeschraenkt',\n    avgOrderValue: Number(d.kundenwert || rev.kundenwert || 0),\n    assumedConversionRange: serpReliable ? '1-2%' : 'nur orientierend'\n  },\n  note: serpReliable\n    ? 'Konservative Spanne auf Basis oeffentlicher Daten, gepruefter Suchergebnisse und heuristischer Conversion-Annahmen.'\n    : 'Die Euro-Spanne ist heute nur orientierend, weil die Markt-Daten fuer diese URL nicht vollstaendig abrufbar waren.'\n} : null;\n\nif (!story || !contentReliable || !serpReliable) {\n  story = !serpReliable && !contentReliable\n    ? 'Die Technikdaten geben bereits Richtung, aber Markt- und Content-Signale sind heute nur teilweise belastbar. Das ist kein Argument gegen die Seite, sondern ein Hinweis, dass die Priorisierung mit echten Search- und Live-Seitendaten erfolgen sollte. Genau dort lohnt sich die Beratung: erst belastbar machen, dann sauber entscheiden.'\n    : !serpReliable\n      ? 'Die Technik- und Seitendaten geben Richtung. Die Google-Sichtbarkeit ist heute nur teilweise belastbar, deshalb sollten Markt-Aussagen nicht isoliert gelesen werden. Die sinnvolle Frage ist jetzt nicht, ob Potenzial da ist, sondern welche Einstiegsseite und welches Keyword-Set zuerst Wirkung bringen.'\n      : 'Die Markt-Signale geben Richtung, aber die Seite konnte inhaltlich nicht vollstaendig gelesen werden. Bevor einzelne Content-Luecken ueberbewertet werden, sollte zuerst live geprueft werden, welche Proof- und CTA-Elemente wirklich vorhanden sind. Genau daraus entsteht die belastbare Priorisierung.';\n}\n\nconst frontendData = {\n  meta: {\n    domain: d.domain,\n    url: d.url,\n    branche: d.branche,\n    standort: d.standort,\n    generatedAt: new Date().toISOString()\n  },\n  verdict: {\n    status: verdictStatus,\n    badge: verdictBadge,\n    headline: verdictHeadline,\n    subline: verdictSubline\n  },\n  highlights: [\n    {\n      label: 'Kaufnahe Keywords',\n      value: serpReliable ? visibleKeywords + ' / ' + totalKeywords : 'eingeschraenkt',\n      help: serpReliable ? (missingKeywords.length ? missingKeywords.length + ' Keywords ohne belastbare Seite-1-Sichtbarkeit' : 'geprueftes Set ist sichtbar') : 'Google-Daten heute nur teilweise belastbar',\n      tone: serpReliable ? (visibleKeywords === 0 ? 'bad' : missingKeywords.length > 0 ? 'warning' : 'good') : 'warning'\n    },\n    {\n      label: 'Mobile Performance',\n      value: pagespeedReliable ? mobileScore + '/100' : 'eingeschraenkt',\n      help: pagespeedReliable ? 'LCP ' + lcp : 'PageSpeed heute nicht vollstaendig abrufbar',\n      tone: pagespeedReliable ? (mobileScore >= 85 ? 'good' : mobileScore >= 60 ? 'warning' : 'bad') : 'warning'\n    },\n    {\n      label: 'Datenbasis',\n      value: dataQuality,\n      help: 'SERP ' + (serpReliable ? (partialSerp ? 'teilweise' : 'ok') : 'eingeschraenkt') + ' · Content ' + (contentReliable ? 'ok' : 'eingeschraenkt') + ' · Technik ' + (pagespeedReliable ? 'ok' : 'eingeschraenkt'),\n      tone: dataQualityTone\n    }\n  ],\n  findings: [visibilityFinding, performanceFinding, trustFinding],\n  opportunity,\n  details: {\n    sections: [\n      {\n        title: 'Google und Markt',\n        rows: [\n          { label: 'Sichtbare Keywords', value: serpReliable ? visibleKeywords + ' / ' + totalKeywords : 'nicht belastbar', status: serpReliable ? (visibleKeywords ? 'warning' : 'bad') : 'warning' },\n          { label: 'Keywords ohne Seite 1', value: serpReliable ? String(missingKeywords.length) : 'nicht belastbar', status: serpReliable ? (missingKeywords.length ? 'bad' : 'good') : 'warning' },\n          { label: 'Groesster Ausfall', value: serpReliable && topMissing ? topMissing.keyword : 'heute nicht sicher bestimmbar', status: serpReliable && topMissing ? 'bad' : 'warning' },\n          { label: 'SERP-Daten', value: serpReliable ? (partialSerp ? 'teilweise belastbar' : 'belastbar') : 'eingeschraenkt', status: serpReliable && !partialSerp ? 'good' : 'warning' }\n        ],\n        note: serpReliable ? 'Die Sichtbarkeit im geprueften Set zeigt, wo Nachfrage schon ankommt und wo sie noch wegbricht.' : 'Google-Daten konnten heute nicht fuer alle Keywords stabil gelesen werden. Markt-Aussagen daher als Richtung verstehen, nicht als Endurteil.'\n      },\n      {\n        title: 'Technik und Messung',\n        rows: [\n          { label: 'Mobile Score', value: pagespeedReliable ? mobileScore + '/100' : 'nicht belastbar', status: pagespeedReliable ? (mobileScore >= 85 ? 'good' : mobileScore >= 60 ? 'warning' : 'bad') : 'warning' },\n          { label: 'Largest Contentful Paint', value: pagespeedReliable ? lcp : 'nicht belastbar', status: pagespeedReliable ? (lcpMs < 2500 ? 'good' : lcpMs < 4000 ? 'warning' : 'bad') : 'warning' },\n          { label: 'Meta Description', value: site.seo && site.seo.metaDesc ? 'vorhanden' : 'fehlt oder nicht lesbar', status: site.seo && site.seo.metaDesc ? 'good' : 'warning' },\n          { label: 'Canonical', value: site.seo && site.seo.canonical ? 'vorhanden' : 'fehlt oder nicht lesbar', status: site.seo && site.seo.canonical ? 'good' : 'warning' },\n          { label: 'Sitemap', value: site.seo && site.seo.hasSitemap ? 'vorhanden' : 'nicht klar erkennbar', status: site.seo && site.seo.hasSitemap ? 'good' : 'warning' }\n        ],\n        note: 'Technik ist nicht der ganze Funnel, aber sie entscheidet, wie stark der erste Eindruck und die Sichtbarkeit ueberhaupt tragen koennen.'\n      },\n      {\n        title: 'Vertrauen und Conversion',\n        rows: [\n          { label: 'Referenzen / Cases', value: boolLabel(hasCases, 'vorhanden', 'nicht gefunden'), status: boolStatus(hasCases, 'bad') },\n          { label: 'Testimonials', value: boolLabel(hasTestimonials, 'vorhanden', 'nicht gefunden'), status: boolStatus(hasTestimonials, 'bad') },\n          { label: 'Kontaktformular', value: boolLabel(hasContactForm, 'vorhanden', 'nicht gefunden'), status: boolStatus(hasContactForm, 'bad') },\n          { label: 'Lead-Capture', value: boolLabel(hasLeadMagnet, 'vorhanden', 'nicht gefunden'), status: boolStatus(hasLeadMagnet, 'warning') },\n          { label: 'Telefon / direkter Kontakt', value: boolLabel(hasPhone, 'sichtbar', 'nicht gefunden'), status: boolStatus(hasPhone, 'warning') },\n          { label: 'Blog / Content Hub', value: boolLabel(hasBlog, 'vorhanden', 'nicht gefunden'), status: boolStatus(hasBlog, 'warning') }\n        ],\n        note: contentReliable ? 'Hier entscheidet sich, ob Aufmerksamkeit zu Vertrauen wird und Vertrauen zu einer Anfrage.' : 'Die Seite konnte inhaltlich nicht vollstaendig gelesen werden. Diese Aussagen sind deshalb bewusst vorsichtiger formuliert.'\n      }\n    ]\n  },\n  story,\n  cta: {\n    headline: 'Das Audit zeigt die Bremsen. Die Beratung priorisiert den sinnvollsten Hebel fuer Ihr Setup.',\n    subline: 'Wenn Sie wissen wollen, was zuerst angefasst werden sollte und was warten kann, ist jetzt der richtige Zeitpunkt fuer die Beratung.',\n    primary: {\n      label: 'Beratung anfragen',\n      sublabel: '20 Minuten · konkrete Priorisierung · kein Sales-Theater'\n    },\n    secondary: {\n      url: 'https://cal.com/hasim/30min',\n      label: 'Direkt Strategiegespraech waehlen'\n    }\n  }\n};\n\nreturn [{ json: { frontendData, domain: d.domain } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        -400
      ],
      "id": "d218c76f-60ca-4b4d-a9df-4de2a0e0743c",
      "name": "Build Frontend Data"
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst meta = $('URL Validator').first().json;\nconst now = Date.now();\nconst ttlMs = 2 * 60 * 60 * 1000;\nconst frontendData = $json.frontendData || {};\n\nlet existing = {};\ntry {\n  existing = JSON.parse(sd[meta.jobId] || '{}');\n} catch (e) {}\n\nsd[meta.jobId] = JSON.stringify({\n  status: 'done',\n  data: frontendData,\n  request: {\n    url: meta.url,\n    domain: meta.domain || frontendData?.meta?.domain || null,\n    ip: meta.ip || '',\n    ua: meta.ua || '',\n  },\n  storedAt: existing.storedAt || now,\n  updatedAt: now,\n  finishedAt: now,\n  expiresAt: now + ttlMs,\n});\n\nconst hour = Math.floor(now / (60 * 60 * 1000));\nfor (const key of Object.keys(sd)) {\n  if (key.startsWith('job_')) {\n    try {\n      const entry = JSON.parse(sd[key]);\n      if (entry.expiresAt && entry.expiresAt < now) delete sd[key];\n    } catch (e) {\n      delete sd[key];\n    }\n    continue;\n  }\n\n  if (key.startsWith('rl:')) {\n    const keyHour = parseInt(key.split(':')[2] || '0', 10);\n    if (Number.isFinite(keyHour) && keyHour < hour - 1) delete sd[key];\n  }\n}\n\nreturn [{\n  json: {\n    stored: true,\n    jobId: meta.jobId,\n    domain: frontendData?.meta?.domain || meta.domain || null,\n    frontendData,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -400
      ],
      "id": "ec3dfdd9-bdba-4654-a62f-81a03f13e177",
      "name": "Store Results"
    },
    {
      "parameters": {
        "path": "audit-status",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        80
      ],
      "id": "bc8ec8ab-0fda-4426-a2a7-82eeb9511492",
      "name": "Webhook Status",
      "webhookId": "audit-status-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst req = $('Webhook Status').first().json || {};\nconst jobId = req.query?.jobId || req.params?.jobId || '';\n\nif (!jobId || !jobId.startsWith('job_')) {\n  return [{ json: { ok: false, status: 'error', error: 'Ungültige Job-ID.' } }];\n}\n\nconst raw = sd[jobId];\nif (!raw) {\n  return [{ json: { ok: true, status: 'processing', jobId, message: 'Audit läuft noch...' } }];\n}\n\nlet entry;\ntry {\n  entry = JSON.parse(raw);\n} catch (e) {\n  return [{ json: { ok: false, status: 'error', jobId, error: 'Fehler beim Laden.' } }];\n}\n\nif (entry.expiresAt && entry.expiresAt < Date.now()) {\n  delete sd[jobId];\n  return [{ json: { ok: false, status: 'expired', jobId, error: 'Ergebnis abgelaufen.' } }];\n}\n\nif (entry.status === 'done') {\n  return [{ json: { ok: true, status: 'done', jobId, data: entry.data } }];\n}\n\nif (entry.status === 'error') {\n  return [{ json: { ok: false, status: 'error', jobId, error: entry.error || 'Audit fehlgeschlagen.' } }];\n}\n\nreturn [{ json: { ok: true, status: entry.status || 'processing', jobId, message: entry.message || 'Audit läuft noch...' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        80
      ],
      "id": "ad448cf2-625f-46c2-a220-b9982f33b061",
      "name": "Lookup Results"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        96,
        80
      ],
      "id": "126606ab-8da2-43be-901f-76ae593d201c",
      "name": "Respond Status"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-consultation",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        208
      ],
      "id": "be3d9978-7da6-4c48-9d01-7dc5f3450001",
      "name": "Webhook Consultation",
      "webhookId": "audit-consultation-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json || {};\nconst body = req.body || {};\nconst ui = body.__submission?.user_inputs || body;\nconst errors = [];\n\nconst name = (ui.name || body.name || '').toString().trim();\nconst email = (ui.email || body.email || '').toString().trim();\nconst company = (ui.company || body.company || '').toString().trim();\nconst message = (ui.message || body.message || '').toString().trim();\nconst jobId = (ui.jobId || body.jobId || '').toString().trim();\nconst url = (ui.url || body.url || '').toString().trim();\nconst domain = (ui.domain || body.domain || '').toString().trim();\nconst primaryFinding = (ui.primaryFinding || body.primaryFinding || '').toString().trim();\nconst ip = (body.__submission?.ip || req.ip || req.headers?.['x-forwarded-for'] || '').toString();\nconst ua = (body.__submission?.browser || req.headers?.['user-agent'] || '').toString();\n\nif (!name) errors.push('Bitte Ihren Namen angeben.');\nif (!email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) errors.push('Bitte eine gueltige E-Mail-Adresse angeben.');\n\nconst subject = '[Audit] Beratung angefragt - ' + (company || domain || name);\nconst lines = [\n  'Neue Beratungsanfrage aus dem Audit.',\n  '',\n  'Name: ' + name,\n  'E-Mail: ' + email,\n  company ? 'Unternehmen: ' + company : null,\n  domain ? 'Domain: ' + domain : null,\n  url ? 'URL: ' + url : null,\n  jobId ? 'Job ID: ' + jobId : null,\n  primaryFinding ? 'Primaerer Befund: ' + primaryFinding : null,\n  '',\n  'Nachricht:',\n  message || '(keine Zusatznachricht)'\n].filter(Boolean);\n\nconst text = lines.join('\\n');\nconst html = [\n  '<div style=\"font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;line-height:1.6;color:#0f172a;\">',\n  '<h2 style=\"margin:0 0 16px;\">Neue Beratungsanfrage aus dem Audit</h2>',\n  '<p><strong>Name:</strong> ' + name + '</p>',\n  '<p><strong>E-Mail:</strong> ' + email + '</p>',\n  company ? '<p><strong>Unternehmen:</strong> ' + company + '</p>' : '',\n  domain ? '<p><strong>Domain:</strong> ' + domain + '</p>' : '',\n  url ? '<p><strong>URL:</strong> ' + url + '</p>' : '',\n  jobId ? '<p><strong>Job ID:</strong> ' + jobId + '</p>' : '',\n  primaryFinding ? '<p><strong>Primaerer Befund:</strong> ' + primaryFinding + '</p>' : '',\n  '<hr style=\"border:none;border-top:1px solid #e2e8f0;margin:20px 0;\">',\n  '<p><strong>Nachricht:</strong></p>',\n  '<p>' + (message || '(keine Zusatznachricht)').replace(/\\n/g, '<br>') + '</p>',\n  '</div>'\n].join('');\n\nreturn [{ json: {\n  ok: errors.length === 0,\n  error: errors.length ? errors.join(' ') : null,\n  name,\n  email,\n  company,\n  message,\n  jobId,\n  url,\n  domain,\n  primaryFinding,\n  ip,\n  ua,\n  subject,\n  text,\n  html,\n  submittedAt: new Date().toISOString(),\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        208
      ],
      "id": "be3d9978-7da6-4c48-9d01-7dc5f3450002",
      "name": "Consultation Validator"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ok }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16,
        208
      ],
      "id": "be3d9978-7da6-4c48-9d01-7dc5f3450003",
      "name": "IF Consultation Valid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, status: \"accepted\", message: \"Anfrage ist raus. Wenn es schneller gehen soll, koennen Sie direkt einen Strategiecall waehlen.\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        128
      ],
      "id": "be3d9978-7da6-4c48-9d01-7dc5f3450004",
      "name": "Respond Consultation OK"
    },
    {
      "parameters": {
        "fromEmail": "performance@hasimuener.de",
        "toEmail": "info@hasimuener.de",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        448,
        128
      ],
      "id": "be3d9978-7da6-4c48-9d01-7dc5f3450005",
      "name": "Send Consultation Notification",
      "webhookId": "audit-consultation-email-id",
      "credentials": {
        "smtp": {
          "id": "__SET_IN_N8N__",
          "name": "BREVO_SMTP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, status: \"error\", error: $json.error || \"Ungueltige Beratungsanfrage.\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        288
      ],
      "id": "be3d9978-7da6-4c48-9d01-7dc5f3450006",
      "name": "Respond Consultation Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "URL Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Validator": {
      "main": [
        [
          {
            "node": "IF Valid Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Request": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Store Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Processing": {
      "main": [
        [
          {
            "node": "Jina Reader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina Reader": {
      "main": [
        [
          {
            "node": "Raw HTML Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raw HTML Fetch": {
      "main": [
        [
          {
            "node": "PageSpeed API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed API": {
      "main": [
        [
          {
            "node": "Check PageSpeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PageSpeed": {
      "main": [
        [
          {
            "node": "IF PageSpeed Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF PageSpeed Retry?": {
      "main": [
        [
          {
            "node": "Wait 12s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PageSpeed Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 12s": {
      "main": [
        [
          {
            "node": "PageSpeed API Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed API Retry": {
      "main": [
        [
          {
            "node": "PageSpeed Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageSpeed Final": {
      "main": [
        [
          {
            "node": "Sitemap Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sitemap Fetch": {
      "main": [
        [
          {
            "node": "Sitemap Fetch Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sitemap Fetch Fallback": {
      "main": [
        [
          {
            "node": "Sitemap Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sitemap Final": {
      "main": [
        [
          {
            "node": "Analyze Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Site": {
      "main": [
        [
          {
            "node": "Keyword Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Generator": {
      "main": [
        [
          {
            "node": "Extract Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keywords": {
      "main": [
        [
          {
            "node": "SERP Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SERP Check": {
      "main": [
        [
          {
            "node": "Build Journey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Journey": {
      "main": [
        [
          {
            "node": "Write Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Story": {
      "main": [
        [
          {
            "node": "Build Frontend Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Frontend Data": {
      "main": [
        [
          {
            "node": "Store Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Status": {
      "main": [
        [
          {
            "node": "Lookup Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Results": {
      "main": [
        [
          {
            "node": "Respond Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Consultation": {
      "main": [
        [
          {
            "node": "Consultation Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultation Validator": {
      "main": [
        [
          {
            "node": "IF Consultation Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Consultation Valid": {
      "main": [
        [
          {
            "node": "Respond Consultation OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Consultation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Consultation OK": {
      "main": [
        [
          {
            "node": "Send Consultation Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
